{% extends "layout/default.twig" %}
{% block title %}Cadastro do Usuário | {{ parent() }}{% endblock %}
{% block head %}
    {{ parent() }}
    <link href='{{ base_url() }}/cms/css/custom_upload.css' rel='stylesheet' type='text/css'/>
    <link href='{{ base_url() }}/cms/plugins/croppie/croppie.css' rel='stylesheet' type='text/css'/>
    <link href='{{ base_url() }}/cms/css/croppie.css' rel='stylesheet' type='text/css'/>
{% endblock %}
{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Formulário Usuário</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">Usuários</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-sm-12">
                        <form method='post' class="form-horizontal" action='{{ path_for('admin.users.save') }}'>
                            {% if entity.id is defined %}
                                <input type="hidden" class="form-control" id="id" name='id' value='{{ entity.id  ?  entity.id  : '' }}'>
                            {% endif %}
                            <div class="card-box table-responsive">
                                <h4 class="header-title m-t-0">Cadastro de Usuário</h4>
                                <p class="text-muted font-14 m-b-10">
                                    Preencha com as informações necessárias para o cadastro de usuário no sistema.
                                </p>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for='name'>Nome:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="name" name='name' placeholder="Nome Completo" required value='{{ entity.name ?  entity.name  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="email">E-mail:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="email" name='email' placeholder="E-mail" required value='{{ entity.email ?  entity.email  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="phone">Telefone:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control phone-mask" id="phone" name='phone' placeholder="Telefone" value='{{ entity.phone ?  entity.phone  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="cellphone">Celular:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control  phone-mask" id="cellphone" name='cellphone' placeholder="Celular" value='{{ entity.cellphone ?  entity.cellphone  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="description">Descrição:</label>
                                            <div class="col-md-10">
                                                <textarea class='form-control summernote' name='description' id='description' placeholder='Descrição'>{{ entity.description?entity.description:'' }}</textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class='col-sm-6'>
                                        {# Imagem de perfil #}
                                        <div class="form-group">
                                            <div style='text-align: center'><label for="name">Foto de Perfil:</label></div>
                                            <div class="col-sm-12">
                                                <div>
                                                    {% if entity.profile!="" %}
                                                        <img src='{{ base_url() }}/img/perfil/{{ entity.profile }}' style='width: 250px; display: block; margin:0 auto;' id='user-image'>
                                                    {% else %}
                                                        <div id="upload-wrapper"></div>
                                                    {% endif %}
                                                </div>
                                                <div class="actions">
                                                    <a id="select-image" class="btn btn-danger file-btn {{ entity.profile!=""?'hidden':'' }}">
                                                        <label class="upload-field" for="upload-field">Selecionar imagem</label>
                                                        <input type="file" id="upload-field" accept="image/*"/>
                                                    </a>
                                                    <a id="remove-upload" class="btn btn-danger {{ entity.profile==""?'hidden':'' }} ">Remover Foto</a>
                                                </div>
                                                <textarea id="upload-base64" name="upload_photo_base64" cols="30" rows="30" style="display: none"></textarea>
                                                <div class="alert alert-info alert-white"><strong>Aviso!</strong> A pré-visualização da imagem funciona somente nos navegadores
                                                                                                                  IE10+, FF3.6+, Chrome6.0+ e Opera11.1+. Em navegores antigos, somente o nome do será exibido.
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if _user.permission==0 %}
                            <div class="card-box table-responsive">
                                <h4 class="header-title m-t-0">Permissão</h4>
                                <p class="text-muted font-14 m-b-10">
                                    Selecione o tipo de usuário com sua devida permissão.
                                </p>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="col-md-10">
                                                <div class="radio radio-info radio-single">
                                                    <input id="permission" name='permission' {{ entity.permission=='0' ? 'checked':"" }}  type="radio" value='0'>
                                                    <label for="permission">
                                                        Administrador (Gerencia tudo no painel administrativo.)
                                                    </label>
                                                </div>
                                                <div class="radio radio-info radio-single">
                                                    <input id="permission2" name='permission' {{ entity.permission=='1' ? 'checked':"" }} type="radio" value='1'>
                                                    <label for="permission2">
                                                        Gerente (Gerencia tudo, menos a permissão do usuário.)
                                                    </label>
                                                </div>
                                                <div class="radio radio-info radio-single">
                                                    <input id="permission3" name='permission' {{ entity.permission=='2' ? 'checked':"" }} type="radio" value='2'>
                                                    <label for="permission3">
                                                        Editor (Cadastra Categorias e Notícias)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="card-box table-responsive">
                                <h4 class="header-title m-t-0">Usuário e Senha</h4>
                                <p class="text-muted font-14 m-b-10">
                                    Utilize o e-mail e a senha a seguir para acessar o sistema.
                                </p>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="username">Senha:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="password" name='password' placeholder="Senha">
                                                <small>Para trocar a senha, digite uma nova.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box table-responsive">
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <button type='submit' class='btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5'>Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsBottom %}
    {{ parent() }}
    <script src='{{ base_url() }}/cms/plugins/croppie/croppie.js'></script>
    <script src='{{ base_url() }}/cms/js/users.js'></script>
{% endblock %}