{% extends 'layout/default.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
  
  
  
  <section class="form">
      <div class="row h-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-5 offset-md-4 my-auto mx-auto">
                    <div class="form-wrapper">
                    <h3 class="form-title">Escolha uma nova senha</h3>
                        <form action="{{ path_for('changePass') }}" method="POST" id="changepass">
                            <div class="form-group">
                                <input name="pass" type="password" class="form-control" placeholder="nova senha" required>
                            </div>
                             <div class="form-group">
                                <input name="checkpass" type="password" class="form-control" placeholder="confirmar senha" required>
                            </div>
                            <div class="form-row d-flex flex-row-reverse">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Mudar Senha</button>
                                </div>
                            </div>
                        </form>
                        <div class="form-error">{{ e!=""?'Erro de usuário e senha':'' }}</div>
                        <div class="form-unset-cookie">{{ e!=""?'Erro de usuário e senha':'' }}</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



            
    {% endblock %}

    {% block jsBottom %}
        {{ parent() }}
    {% endblock %}
