{% extends 'layout/default.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
   


    

{% endblock %}
{% block jsBottom %}
{{ parent() }}
{% endblock %}
