{% extends 'layout/default.twig' %}
{% block title %}
{{ _title }}
{% endblock %}
{% block header %}
{{ parent() }}
{% endblock %}

{% block content %}


<section class="content-top">
    <div class="container">
        <div class="row d-flex d-flex justify-content-center">

            <div class="col-lg-4 col-sm-6">

                <div class="d-flex align-content-center">
                    <img src="{{ baseImg() }}logo.png" alt="" class="img-fluid logo-manda" style="max-width:80%;">
                </div>

                <button class="d-block btn-inscricao">
                    FAÇA SUA INSCRIÇÃO
                </button>
            </div>

            <!-- SPACER -->
            <div class="spacer col-lg-3 col-sm-6 d-flex align-items-end"></div>

            <div class="col-lg-4 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-5">
                            <ul class="social-media text-right">
                                <li><a href=""><img src="{{ baseImg() }}1.png" alt=""></a></li>
                                <li><a href=""><img src="{{ baseImg() }}2.png" alt=""></a></li>
                                <li><a href=""><img src="{{ baseImg() }}3.png" alt=""></a></li>
                                <li><img style="margin-right:10px;" src="{{ baseImg() }}logo/user.png"
                                        alt="criar nova conta" width="20px"><a class="btn-login"
                                        href="{{ path_for('auth') }}">LOGIN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="d-flex flex-column h-100">
                            <p class="p-80">O
                                <strong>CONCURSO MANDA JOB</strong>
                                é uma iniciativa do
                                <strong>Grupo J.Silva</strong>
                                para descobrir novos talentos na publicidade em Rio Preto.</p>
                            <p>Então, estudantes do curso de Publicidade e Propaganda, não durmam no ponto,
                                <strong>participem e mostrem que vocês manjam dos paranauês!</strong>
                            </p>
                            <a href="#" class="btn-information"><span>INFORMAÇÕES</span><span><img
                                        src="{{ baseImg() }}seta.png" alt=""></span> </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <img src="{{ baseImg() }}logo/down-chevron.png" alt="" class="float-image animated fadeInDown faster">

</section>


<section class="content-sobrer">
    <div class="row content-sobre h-100">
        <div class="container">
            <div class="row flex-row h-100">
                <div class="col-12 d-flex align-items-center">
                    <p>O <b>Grupo J.Silva</b> é lider no segmento Out-of-Home no Interior Paulista, atuando na área de
                        Mobiliário Urbano e Grandes Formatos como Outdoors,
                        Painéis Rodoviários, Frontlights, Áticos de Edifícios e Empenas. <br><br>
                        São mais de 47 anos no mercado, oferecendo soluções aos anunciantes com mais de 600 faces
                        publicitárias espalhadas em todo o estado de São Paulo.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content-funciona">
    <div class="container-fluid">
        <div class="col-12 text-center mb-5">
            <h3><strong>COMO FUNCIONA?</strong></h3>
            <h5 class="mb-5">Para participar siga os passos a seguir.</h5>
            </div>
        <div class="row bg-funciona">
            <div class="container">
                <div class="row d-flex">
                    <div class="info-lg p-2 align-items-center mx-auto">
                        <div class="col-lg-10 offset-lg-1">
                            <img src="{{ baseImg() }}como-funciona/comofunciona_desktop.png" class="img-fluid" alt="como funciona">
                        </div>
                        
                    </div>
                     <div class="info-md p-2 align-items-center mx-auto">
                        <div class="col-md-10 offset-md-1"> 
                            <img src="{{ baseImg() }}como-funciona/comofunciona_mobile.png" class="img-fluid" alt="como funciona">
                        </div>
                        
                    </div>
                     <div class="info-sm p-2 align-items-center mx-auto">
                         <div class="col-xs-8 offset-xs-2">
                            <img src="{{ baseImg() }}como-funciona/comofunciona_mobile_425.png" class="img-fluid" alt="como funciona">
                         </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="download-regulamento mb-5">
    <div class="row regulamento-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 text-center">
                    
                    <h3><strong>BAIXE AGORA O REGULAMENTO.</strong></h3>
                    <p class="mb-5">Fique por dentro das regras e evite contratempos!</p>
                    <a href="{{ baseJs() }}regulamentofinal.pdf" download="regulamento_manda_job.pdf">
                        <button class="btn btn-outline">DOWNLOAD <i class="fa fa-download ml-3" aria-hidden="true"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="carousel">
    <div class="container">
    <div class="col-12 text-center mb-5">
            <h3><strong>APOIADORES</strong></h3>
            <h5 class="mb-5">Lorem ipsum dolor sit amet.</h5>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="respCarousel">
                    <div class="imgCarousel"><img src="{{ baseImg() }}carousel/unip-vector-logo.png" alt=""></div>
                    <div class="imgCarousel"><img src="{{ baseImg() }}carousel/unirp.jpg" alt=""></div>
                    <div class="imgCarousel"><img src="{{ baseImg() }}carousel/unilago.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="form" class="form">

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

                    <div class="d-flex justify-content-around">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#single">Inscrição individual</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#double">Inscrição em dupla </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane container active" id="single">
                            <div class="form-wrapper">
                                <h3 class="form-title">Preencha o formulário*<br>e aguarde o recebimento das informações
                                    adicionais por e-mail</h3>
                                <form id="form-single" action="{{ path_for('salvar') }}" method="POST">

                                    <div class="form-row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text" name="nome[]" id="nome" class="form-control"
                                                    placeholder="Nome" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text" name="sobrenome[]" id="nome" class="form-control"
                                                    placeholder="Sobrenome" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="text" name="telefone[]" id="telefone" class="form-control"
                                                    placeholder="telefone" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input type="email" name="email[]" id="email" class="form-control"
                                                placeholder="e-mail" required>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                            <input id="singleCEP" type="text" name="cep[]" id="cep" class="form-control" placeholder="CEP" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <input id="singleCidade" type="text" name="cidade[]" class="form-control" placeholder="cidade" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-8 col-12">
                                            <div class="form-group">
                                                <input id="singleCpf" type="text" name="cpf[]" class="form-control"
                                                    placeholder="cpf" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <input type="text" name="data_nascimento[]" id="data_nascimento"
                                                    class="form-control" placeholder="data nascimento" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="col-md-8 col-12">
                                            <div class="form-group">
                                                <input type="text" name="faculdade[]" id="faculdade"
                                                    class="form-control" placeholder="instituição de ensino" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <input type="text" name="ra[]" id="ra" class="form-control"
                                                    placeholder="R.A." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="curso[]" id="curso" class="form-control"
                                            placeholder="curso" required>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <button type="reset" class="btn">Limpar</button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <button type="submit" class="btn">Cadastrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>todos os campos são obrigatórios</p>
                                        </div>
                                        <div class="col-6">
                                            <p>Já tem cadastro? <a href="{{ path_for('auth') }}">Fazer login</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="double">
                            <div class="form-wrapper">
                                <h3 class="form-title">Preencha o formulário*<br>e aguarde o recebimento das informações
                                    adicionais por e-mail</h3>
                                <div class="form-divider">
                                    <h5>Participante 1</h5>
                                    <form id="form-double" action="{{ path_for('salvar') }}" method="POST">
                                        <div class="form-row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <input type="text" name="nome[]" id="nome" class="form-control"
                                                        placeholder="Nome" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <input type="text" name="sobrenome[]" id="sobrenome"
                                                        class="form-control" placeholder="Sobrenome" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <input type="text" name="telefone[]" id="telefone"
                                                        class="form-control" placeholder="telefone" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">

                                                <input type="email" name="email[]" id="email" class="form-control"
                                                placeholder="e-mail" required>
                                                    
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                <input id="doubleCep" type="text" name="cep[]" id="cidade" class="form-control"
                                                        placeholder="CEP" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                <input id="doubleCidade" type="text" name="cidade[]" class="form-control"
                                                        placeholder="cidade" required>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row">
                                            <div class="col-md-8 col-12">
                                                <div class="form-group">
                                                    <input id="doubleCpf_1" type="text" name="cpf_double_1[]" class="form-control"
                                                        placeholder="cpf" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <input type="text" name="data_nascimento[]" id="data_nascimento"
                                                        class="form-control" placeholder="data nascimento" required>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row">
                                            <div class="col-md-8 col-12">
                                                <div class="form-group">
                                                    <input type="text" name="faculdade[]" id="faculdade"
                                                        class="form-control" placeholder="instituição de ensino"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <input type="text" name="ra[]" id="ra" class="form-control"
                                                        placeholder="R.A." required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="curso[]" id="curso" class="form-control"
                                                placeholder="curso" required>
                                        </div>
                                        <div class="form-divider">
                                            <h5>Participante 2</h5>
                                            <div class="form-row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="text" name="nome[]" id="nome_1"
                                                            class="form-control" placeholder="Nome" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="text" name="sobrenome[]" id="sobrenome_1"
                                                            class="form-control" placeholder="Sobrenome" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="text" name="telefone[]" id="telefone_1"
                                                            class="form-control" placeholder="telefone" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="email" name="email[]" id="email_1" class="form-control"
                                                    placeholder="e-mail" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input id="doubleCEP_sec" type="text" name="cep[]" class="form-control" placeholder="CEP" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input id="doubleCidade_sec" type="text" name="cidade[]" class="form-control" placeholder="cidade" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-8 col-12">
                                                    <div class="form-group">
                                                        <input id="doubleCpf_2" type="text" name="cpf_double_2[]" class="form-control"
                                                            placeholder="cpf" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <input type="text" name="data_nascimento[]"
                                                            id="data_nascimento_1" class="form-control"
                                                            placeholder="data nascimento" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-8 col-12">
                                                    <div class="form-group">
                                                        <input type="text" name="faculdade[]" id="faculdade_1"
                                                            class="form-control" placeholder="instituição de ensino"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="form-group">
                                                        <input type="text" name="ra[]" id="ra_1" class="form-control"
                                                            placeholder="R.A." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="curso[]" id="curso_1" class="form-control"
                                                    placeholder="curso" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <button type="reset" class="btn">Limpar</button>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <button type="submit" class="btn">Cadastrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>todos os campos são obrigatórios</p>
                                            </div>
                                            <div class="col-6">
                                                <p>Já tem cadastro? <a href="{{ path_for('auth') }}">Fazer login</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



    {% if emails.e != '' %}
    <script>
        let emails = ['{{ emails.e[0] }}', '{{ emails.e[1] }}'];
    </script>
    {% endif %}
    

{% endblock %}

{% block jsBottom %}
{{ parent() }}
{% endblock %}