{% extends 'layout/default.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
  
  
  
  <section class="form login">
      <div class="row h-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-5 col-md-6 offset-md-4 my-auto mx-auto">
                    <div class="form-wrapper">
                    <h3 class="form-title">Faça aqui seu login <br>e cadastre agora mesmo seu projeto</h3>
                        <form action="{{ path_for('login') }}" method="POST" id="login">
                            <div class="form-group">
                                <input name="user[]" type="email" class="form-control" placeholder="email" required>
                            </div>
                            <div class="form-group">
                                <input name="password[]" type="password" class="form-control" placeholder="senha" required>
                            </div>
                            <div class="form-row d-flex flex-row-reverse">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <div class="col-8">
                                    {# <p>Ainda não tem cadastro? <a href="{{ path_for('index') }}">Cadastre-se</a></p> #}
                                    <div class="form-check">
                                        <input style="margin-top:1%;" name="keeplogged" type="checkbox" class="form-check-input" id="keeplogged">
                                        <label class="form-check-label" for="keeplogged">Manter conectado</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                           <div class="forgot-pass-wrapper">
                                <p class="text-center">
                                    <a style="color:#000" href="{{ path_for('recovery') }}">
                                    <img src="{{ baseImg() }}logo/forgot.png" style="margin-bottom: 5px;" alt="criar nova conta" width="18px"> 
                                    Recuperar senha</a>
                                </p>
                           </div>
                        <div class="form-error">{{ e!=""?'Erro de usuário e senha':'' }}</div>
                    </div>
                    <div class="container form-options">
                    <div class="row">
                        <div class="col-6 d-flex" style="border-right:2px solid #fbcb00;">
                            <div class="align-self-center mx-auto">
                               <img src="{{ baseImg() }}logo/home.png" alt="criar nova conta" width="20px">
                            </div>
                            <div class="align-self-center mx-auto" style="margin-left:15px!important">
                                <a href="{{ path_for('index') }}">
                                    Página inicial
                                </a>
                            </div>
                        </div>
                        {# <div class="col-4 d-flex" style="border-right:2px solid #fbcb00;">
                             <div class="align-self-center mx-auto">
                               <img src="{{ baseImg() }}logo/forgot.png" alt="criar nova conta" width="20px">
                            </div>
                            <div class="align-self-center mx-auto" style="margin-left:15px!important">
                                <a href="{{ path_for('recovery') }}">
                                    Esqueceu sua senha?
                                </a>
                            </div>
                        </div> #}
                        <div class="col-6 d-flex">
                            <div class="align-self-center mx-auto">
                               <img src="{{ baseImg() }}logo/create.png" alt="criar nova conta" width="20px">
                            </div>
                            <div class="align-self-center mx-auto" style="margin-left:15px!important">
                                <a href="{{ path_for('index') }}#form">
                                    Cadastrar
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</section>



            
    {% endblock %}

    {% block jsBottom %}
        {{ parent() }}
    {% endblock %}
