{% extends 'layout/painel.twig' %}
{% block title %}
{{ _title }}
{% endblock %}
{% block header %}
{{ parent() }}
{% endblock %}

{% block content %}

<style>
  .custom-file-upload {
    border: 1px solid;
    padding: 0.60rem 1.25rem;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 0px;
  }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="margin-left:0px">
  <!-- Content Header (Page header) -->


  <!-- Main content -->
  <section class="content">


  {% if single_candidato.comprovante_matricula == "" %}
    
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
          <div class="box bg-img box-inverse" data-overlay="7">
            <div class="box-header with-border">
              <h4 class="box-title">Comprovante de matrícula</h4>
            </div>
            <div class="box-body mt-20">
              <div class="pull-left">
                <h2 id="comp-title" class="font-weight-200 mb-0">Envie seu comprovante de matrícula</h2>
                <p id="comp-description">Documentação sujeita a análise manual. <a href="#" id="compDoubts"
                    data-toggle="popover" title="Popover title"
                    data-content="And here's some amazing content. It's very engaging. Right?">Dúvidas?</a></p>
              </div>
              <div id="formComp" class="pull-right mt-20">
                <form id="compForm" method="POST" enctype="multipart/form-data">
                  <input name="arquivo" class="custom-file-upload" id="comprovante" type="file" required>
                  <button type="submit" class="btn btn-outline-light submitBtn"><i class="fa fa-cloud-upload mr-5"></i>
                    Enviar Comprovante</button>
                  <p class="statusMsg"></p>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12">
              <div class="box bg-img box-inverse" data-overlay="7">
                <div class="box-header with-border">
                  <h4 class="box-title">Envio do projeto</h4>
                </div>
                <div class="box-body mt-20">
                  <div class="pull-left">
                    <h2 id="project-title" class="font-weight-200 mb-0">Você ainda não enviou seu comprovante de matrícula</h2>
                    <p id="project-description">Complete o primeiro passo antes de enviar seu projeto.</p>
                  </div>
                  <div id="formProject" class="up-project pull-right mt-20" style="display:none;">
                    <form id="fupForm" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="preview">Prévia do projeto</label>
                        <input id="preview" name="preview" class="custom-file-upload" type="file" required>
                      </div>
                      <div class="form-group">
                        <label for="file">Seu projeto</label>
                        <input id="file" name="file" class="custom-file-upload" type="file" required>
                      </div>
                      <button id="submit" type="submit" class="btn btn-outline-light submitBtn">
                      <i class="fa fa-cloud-upload mr-5"></i> Cadastrar projeto</button>
                      <p class="statusMsg"></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>

    {% else %}

    {% if files <= 0 %}

      <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
          <div class="box bg-img box-inverse" data-overlay="7">
            <div class="box-header with-border">
              <h4 class="box-title">Comprovante de matrícula</h4>
            </div>
            <div class="box-body mt-20">
              <div class="pull-left">
                <h2 id="comp-title" class="font-weight-200 mb-0">Comprovante enviado com sucesso! <i class="fa fa-check-square-o" aria-hidden="true"></i></h2>
                <p id="comp-description">Documentação sujeita a análise manual.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12">
              <div class="box bg-img box-inverse" data-overlay="7">
                <div class="box-header with-border">
                  <h4 class="box-title">Envio do projeto</h4>
                </div>
                <div class="box-body mt-20">
                  <div class="pull-left">
                    <h2 id="project-title" class="font-weight-200 mb-0">Você ainda não enviou seu projeto</h2>
                    <p id="project-description">Clique no botão ao lado para cadastrar.</p>
                  </div>
                  <div id="formProject" class="up-project pull-right mt-20">
                  
                    <form id="fupForm" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="preview">Prévia do projeto</label>
                        <input id="preview" name="preview" class="custom-file-upload" type="file" required>
                      </div>
                      <div class="form-group">
                        <label for="file">Seu projeto</label>
                        <input id="file" name="file" class="custom-file-upload" type="file" required>
                      </div>
                      <button id="submit" type="submit" class="btn btn-outline-light submitBtn">
                      <i class="fa fa-cloud-upload mr-5"></i> Cadastrar projeto</button>
                      <p class="statusMsg"></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {% else %}


              <div class="container">
                <div class="row">
                  <div class="offset-md-2 col-md-8 col-sm-12">
                    <div class="box bg-img box-inverse" data-overlay="7">
                      <div class="box-header with-border">
                        <h4 class="box-title">Comprovante de matrícula</h4>
                      </div>
                      <div class="box-body mt-20">
                        <div class="pull-left">
                          <h2 id="comp-title" class="font-weight-200 mb-0">Comprovante enviado com sucesso! <i class="fa fa-check-square-o" aria-hidden="true"></i></h2>
                          <p id="comp-description">Documentação sujeita a análise manual.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container">
                    <div class="row">
                      <div class="offset-md-2 col-md-8 col-sm-12">
                        <div class="box bg-img box-inverse" data-overlay="7">
                          <div class="box-header with-border">
                            <h4 class="box-title">Envio do projeto</h4>
                          </div>
                          <div class="box-body mt-20">
                            <div class="pull-left">
                              <h2 id="project-title" class="font-weight-200 mb-0">Projeto enviado com sucesso! <i class="fa fa-check-square-o" aria-hidden="true"></i></h2>
                              <p id="project-description">Caso queira substituir seu projeto, clique no botão abaixo.</p>
                            </div>
                            <div id="formProject" class="up-project pull-right mt-20">
                            
                              <form id="fupForm" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                  <label for="preview">Prévia do projeto</label>
                                  <input id="preview" name="preview" class="custom-file-upload" type="file" required>
                                </div>
                                <div class="form-group">
                                  <label for="file">Seu projeto</label>
                                  <input id="file" name="file" class="custom-file-upload" type="file" required>
                                </div>
                                <button id="submit" type="submit" class="btn btn-outline-light submitBtn">
                                <i class="fa fa-cloud-upload mr-5"></i> Substituir projeto</button>
                                    
                                {# <p class="statusMsg"></p> #}
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>


            {% endif %}

            {% endif %}


            <div class="container">
              <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h4 class="box-title">Participantes inscritos</h4>
                    </div>
                    <div class="box-body">
                      <div class="table-responsive">
                        <table id="invoice-list" class="table table-hover no-wrap" data-page-size="10">
                          <thead>
                            <tr>
                              <th>Nome</th>
                              <th>Faculdade</th>
                              <th>RA</th>
                              <th>E-mail</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for candidato in candidatos %}
                            <tr>
                              <td>{{ candidato.nome }} {{ candidato.sobrenome }}</td>
                              <td>{{ candidato.faculdade }}</td>
                              <td>{{ candidato.ra }}</td>
                              <td>{{ candidato.email }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h4 class="box-title">Projetos enviados</h4>
                    </div>
                    <div class="box-body">
                      <div class="table-responsive">
                        <table id="invoice-list" class="table table-hover no-wrap table-sent" data-page-size="10">
                          <thead>
                            <tr>
                              <th>Nome arquivo</th>
                              <th>Enviado por</th>
                              <th>Data de envio</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if files <= 0 %}
                            <tr>
                              <td colspan="3" style="text-align: center;"><i class="fa fa-ban" aria-hidden="true"></i>
                                Nenhum projeto enviado até agora.</td>
                              </td>
                              {% else %}
                              
                              {% for row in rows %}
                                {% if row.type == "project" %}
                                  <tr>
                                    <td>{{ row.nome_arquivo }}</td>
                                    <td>{{ row.nome }} {{ row.sobrenome }}</td>
                                    <td>{{ row.created_at | date("d/m/Y") }}</td>
                                  </tr>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->



{% endblock %}

{% block jsBottom %}
{{ parent() }}
{% endblock %}