{% extends 'layout/default.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
  
  
  
  <section class="form">
      <div class="row h-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-5 offset-md-4 my-auto mx-auto">
                    <div class="form-wrapper">
                    <h3 class="form-title">Recuperar conta</h3>
                    <p>Está com problemas para acessar sua conta ou esqueceu sua senha? Informe seu email abaixo e enviaremos o link com as instruções.</p>
                        <form action="{{ path_for('recoverPassword') }}" method="POST" id="forgotForm">
                            <div class="form-group">
                                <input name="email[]" type="text" class="form-control" placeholder="email" required>
                                <input name="typeRequest" type="hidden" class="form-control" value="recovery" required>
                            </div>
                            <div class="form-row d-flex flex-row-reverse">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                                <div class="col-8">
                                    {# <p>Já tem cadastro? <a href="{{ path_for('auth') }}">Fazer login</a></p>
                                    <p>Ainda não tem cadastro? <a href="{{ path_for('index') }}">Cadastre-se</a></p> #}
                                </div>
                            </div>
                        </form>
                        <div class="form-error">{{ e!=""?'Erro de usuário e senha':'' }}</div>
                        <div class="form-unset-cookie">{{ e!=""?'Erro de usuário e senha':'' }}</div>
                    </div>
                    <div class="container form-options">
                    <div class="row">
                        <div class="col-6 d-flex" style="border-right:2px solid #fbcb00;">
                            <div class="align-self-center mx-auto">
                               <img src="{{ baseImg() }}logo/home.png" alt="criar nova conta" width="20px">
                            </div>
                            <div class="align-self-center mx-auto" style="margin-left:15px!important">
                                <a href="{{ path_for('index') }}">
                                    Página Inicial
                                </a>
                            </div>
                        </div>
                        {# <div class="col-4 d-flex" style="border-right:2px solid #fbcb00;">
                             <div class="align-self-center mx-auto">
                               <img src="{{ baseImg() }}logo/forgot.png" alt="criar nova conta" width="20px">
                            </div>
                            <div class="align-self-center mx-auto" style="margin-left:15px!important">
                                <a href="{{ path_for('recovery') }}">
                                    Esqueceu sua senha?
                                </a>
                            </div>
                        </div> #}
                        <div class="col-6 d-flex">
                            <div class="align-self-center mx-auto">
                               <img src="{{ baseImg() }}logo/create.png" alt="criar nova conta" width="20px">
                            </div>
                            <div class="align-self-center mx-auto" style="margin-left:15px!important">
                                <a href="{{ path_for('index') }}#form">
                                    Cadastrar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



            
    {% endblock %}

    {% block jsBottom %}
        {{ parent() }}
    {% endblock %}
