{% extends 'layout/painel.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    




    <!-- Bootstrap extend-->
	<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-extend.css">
	
	<!-- theme style -->
	<link rel="stylesheet" href="{{ base_url() }}/css/master_style.css">
	
	<!-- Superieur Admin skins -->
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/skins.css">
	
	<!-- daterange picker -->	
	<link rel="stylesheet" href="{{ base_url() }}/assets/bootstrap-daterangepicker/daterangepicker.css">
	
	<!-- Morris charts -->
	<link rel="stylesheet" href="{{ base_url() }}/assets/morris.js/morris.css">
	
	<!-- Data Table-->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/datatable/datatables.min.css"/>

    <!-- Ionicons-->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/Ionicons/css/ionicons.min.css"/>

    <!-- Font Awesome-->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/font-awesome/css/font-awesome.min.css"/>


<body class="hold-transition skin-info-light fixed sidebar-mini">
<div class="wrapper">
  
  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  
    <!-- right content -->
    <section class="content">

    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-cloud-upload mr-5"></i>Enviar projeto</h3>
            </div>
            <!-- /.box-header -->
            <form action="{{ path_for('upload_project') }}" method="POST" enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group">
              <input class="form-control" placeholder="Nome do projeto" name="proj_name" id="projectname">
              </div>
              <div class="form-group">
                <textarea id="compose-textarea" class="form-control" style="height: 150px" name="proj_desc" placeholder="Descreva seu projeto em poucas palavras"></textarea>
              </div>
              <div class="form-group">
              <div class="btn btn-info btn-file">
                <i class="fa fa-paperclip"></i> Anexar Arquivo
                  <input id="nome_arquivo_PDF" type="file" name="nome_arquivo_PDF">
              </div>
              <p class="help-block">Max. 32MB</p>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
              <button type="reset" class="btn btn-danger"><i class="fa fa-times"></i> Descartar</button>
              <button type="submit" class="btn btn-success"><i class="fa fa-envelope-o"></i> Enviar</button>
              </div>
              
            </div>
              <!-- /.box-footer -->
              </form>
            </div>
          <!-- /. box -->
                </div>
              </div>
            </div>

	
		
    </section>
    <!-- /.right content -->
	  
  </div>
  <!-- /.content-wrapper -->
   
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; 2019 <a href="https://www.multipurposethemes.com/">Multi-Purpose Themes</a>. All Rights Reserved.
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-light">
	  
	<div class="rpanel-title"><span class="btn pull-right"><i class="ion ion-close" data-toggle="control-sidebar"></i></span> </div>  
    <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
      <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab">Tasks</a></li>
      <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab">General</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-danger"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Admin Birthday</h4>

                <p>Will be July 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-warning"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Jhone Updated His Profile</h4>

                <p>New Email : jhone_doe@demo.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-info"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Disha Joined Mailing List</h4>

                <p>disha@demo.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-success"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Code Change</h4>

                <p>Execution time 15 Days</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Web Design
                <span class="label label-danger pull-right">40%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 40%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Data
                <span class="label label-success pull-right">75%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 75%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Order Process
                <span class="label label-warning pull-right">89%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 89%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Development 
                <span class="label label-primary pull-right">72%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 72%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <input type="checkbox" id="report_panel" class="chk-col-grey" >
			<label for="report_panel" class="control-sidebar-subheading ">Report panel usage</label>

            <p>
              general settings information
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <input type="checkbox" id="allow_mail" class="chk-col-grey" >
			<label for="allow_mail" class="control-sidebar-subheading ">Mail redirect</label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <input type="checkbox" id="expose_author" class="chk-col-grey" >
			<label for="expose_author" class="control-sidebar-subheading ">Expose author name</label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <input type="checkbox" id="show_me_online" class="chk-col-grey" >
			<label for="show_me_online" class="control-sidebar-subheading ">Show me as online</label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <input type="checkbox" id="off_notifications" class="chk-col-grey" >
			<label for="off_notifications" class="control-sidebar-subheading ">Turn off notifications</label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">              
              <a href="javascript:void(0)" class="text-red margin-r-5"><i class="fa fa-trash-o"></i></a>
              Delete chat history
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->



        <script src="{{ baseJs() }}jquery-3.4.1.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="{{ base_url() }}/assets/jquery-ui/jquery-ui.js"></script>
	
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	
	<!-- popper -->
	<script src="{{ base_url() }}/assets/popper/dist/popper.min.js"></script>
	
	<!-- date-range-picker -->
	<script src="{{ base_url() }}/assets/moment/min/moment.min.js"></script>
	<script src="{{ base_url() }}/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
	
	<!-- Bootstrap 4.0-->
	<script src="{{ base_url() }}/assets/bootstrap/dist/js/bootstrap.js"></script>	
	
	<!-- ChartJS -->
	<script src="{{ base_url() }}/assets/chart.js-master/Chart.min.js"></script>
	
	<!-- Slimscroll -->
	<script src="{{ base_url() }}/assets/jquery-slimscroll/jquery.slimscroll.js"></script>
	
	<!-- FastClick -->
	<script src="{{ base_url() }}/assets/fastclick/lib/fastclick.js"></script>
		
	<!-- Morris.js charts -->
	<script src="{{ base_url() }}/assets/raphael/raphael.min.js"></script>
	<script src="{{ base_url() }}/assets/morris.js/morris.min.js"></script>

	<!-- This is data table -->
    <script src="{{ base_url() }}/assets/datatable/datatables.min.js"></script>
	
	<!-- Superieur Admin App -->
	<script src="{{ base_url() }}/assets/js/template.js"></script>



</body>








    {% endblock %}

    {% block jsBottom %}
        {{ parent() }}
    {% endblock %}
