@media only screen and (min-width: 1024px) {
    section.content-funciona .info-lg {
        display: block;
    }
    section.content-funciona .info-md {
        display: none;
    }
    section.content-funciona .info-sm {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .btn-information > span:first-child {
        padding: 15px 20px;
    }
}



@media only screen and (max-width: 1024px) {

   
    .content-funciona .bg-funciona {
        background-size: contain;
        padding: 55px 0px;
    }

    .content-funciona {
        background-size: contain;
        padding: 5px 0px;
    }

    .btn-inscricao {
        font-size: 20px;
    }

    section.content-top p {
        font-size: 1.5em;
        text-align: right;
    }

    section.content-funciona .info-lg {
        display: block;
    }
    section.content-funciona .info-md {
        display: none;
    }
    section.content-funciona .info-sm {
        display: none;
    }

}

@media only screen and (max-width: 768px) and (min-width: 425px) {

    section.content-funciona .info-lg {
        display: none;
    }
    section.content-funciona .info-md {
        display: block;
    }
    section.content-funciona .info-sm {
        display: none;
    }

    .form-wrapper {
        padding: 0px;
        border: none;
    }
}


@media only screen and (max-width: 768px) {


    .btn-inscricao {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-funciona .lista-column .row {
    margin-bottom: 20%;
    }

    .logo-manda {
        max-height: 100% !important;
    }

    .float-image {
        display: none;
    }

    .spacer {
        display: none !important;
    }

}





@media only screen and (max-width: 425px) {
    
    li.nav-item {
      padding: 0px;
    }

    .logo-manda {
        margin: auto;
    }

    section.content-top p {
        text-align: center;
    }

    section.form .nav-pills .nav-link {
        color: black;
        padding: 8px 8px;
        font-size: 14px;
        border-radius: 0px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        width: 95%;
    }

    .btn-information {
        text-align: center;
        margin-top: 0px;
    }

    .btn-information > span:last-child {
    margin-right: 0px;
        
    }
    
    
    .content-funciona .bg-funciona {
        /*height: 200%;*/
        padding: 20px 0px;
    }

    .content-sobre p {
        margin: 0;
        font-size: 1.4em;
    }


    .form-wrapper {
        padding: 0px;
        border: none;
    }

    .social-media {
        text-align: center !important;
        margin: 15px 0px !important;
    }
    
    .float-image{
        display: none;
    }


    section.content-funciona .info-lg {
        display: none;
    }
    section.content-funciona .info-md {
        display: none;
    }
    section.content-funciona .info-sm {
        display: block;
    }

    .content-funciona img {
        margin: auto;
        display: block;
        max-width: 65%;
    }

    .p-80 {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 375px) {
    
    section.form .nav-pills .nav-link {
        color: black;
        padding: 10px 8px;
        font-size: 12px;
        border-radius: 0px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }

    .content-sobre p {
        margin: 0;
        font-size: 1.4em;
    }

}

