a:hover {
    text-decoration: none !important;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.b-relative {
    position: relative;
}

.b-absolute {
    position: absolute;
}

section.content-top {
    margin: 10px 0px;
}

section.content-top p {
    font-size: 1.4em;
    text-align: right;
}

.font-30 {
    font-size: 30px;
}

.p-80 {
    margin-bottom: 80px;
}

.w-400 {
    width: 390px;
    text-align: right;
}

.btn-inscricao {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background-color: #000;
    padding: 15px 50px;
    font-weight: 800;
    font-size: 20px;
    margin-top: 75px;
    color: #FFF;
    cursor: pointer;
    border: none;
}

.btn-inscricao:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    color: #fcb400;
    transition: 0.3s ease;
}

.btn-information {
    border: none;
    text-align: right;
    font-weight: 800;
    font-size: 20px;
    margin-top: 75px;
    color: #FFF;
    cursor: pointer;
    display: block;
    color: #fff;
    /* padding: 15px; */

}

.btn-information:hover {
    text-decoration: none;
    transition: 0.3s ease;
    color: #fcb400;
}

.btn-information > span:last-child {
    /* margin-right: 50px; */
    background-color:black;
    display: inline-flex;
    height: 60px;
    vertical-align: top;
    margin-left: 2px;
    padding: 3%;
    
}

.btn-information > span:last-child > img {
    height: 50%;
    margin: auto;
}

.btn-information > span:first-child {
    background-color: black;
    display: inline-flex;
    padding: 15px 30px;
}


ul.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social-media li {
    display: inline-block;
    margin: 0px 5px;
}

ul.social-media li:last-child {
    padding: 10px 15px;
    background-color: black;
    font-weight: bolder;
}

.btn-login {
    color:#FFF;
}

.btn-login:hover {
    color: #fcb400;
    transition: 0.3s ease;
}


.content-sobre {
    background: url('../img/bg-sobre.jpg') no-repeat;
    background-position: center;
    /*background-size: contain;*/
    height: 730px !important;
}

.content-sobre p {
    font-size: 1.4em;
}

.content-funciona {
    background: url('../img/bg-funciona.jpg') no-repeat center center;
    background-position: center;
    /*background-size: contain;*/
    padding: 30px 0px 60px 0px; 
}

/*.content-funciona .bg-funciona {
    background: url('../img/bg-funciona.jpg') no-repeat center center;
    background-position: center;
   
    padding: 150px 0px;
    /*height: 100%;
}*/

.content-funciona .lista-funciona {
    font-size: 1em;
    font-weight: 600;
}

.content-funciona .lista-column .row {
    margin-bottom: 10%;
}

.content-funciona .regulamento-link {
    padding: 12px;
    font-size: 16px;
    background-color: black;
    color: #fcb400;
    font-weight: bold;
}

.content-funciona .regulamento-link:hover {
    text-decoration: none;
}

/* .content-funciona img {
    height: 100px;
} */


/* ALTERAÇÕES 28/06 */

section.form > .row {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 60px 0px;
    background: url('../img/fundo_formulario_2.jpg') no-repeat center top;
    background-attachment: fixed;
}

section.form small {
    color: #bd2130 !important;
}

section.form .text-muted {
    color: #bd2130 !important;
}

section.form p {
    font-size: 0.7em;
    margin-bottom: 0.2em;
}

.form-wrapper {
    padding: 20px;
    border: 1px solid;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 25px;
}

section.form .form-control {
    border: 1px solid;
    border-radius: 0;
    background-color: transparent;
    border-color: black;
    color: black;
}

section.form .form-control:active {
    border: 1px solid;
    border-radius: 0;
    background-color: transparent;
    border-color: black;
}

section.form .form-control::placeholder {
    text-transform: uppercase;
    color: black;
}

section.form .form-wrapper button {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 0px;
    color: #eece12;
    font-weight: bolder;
    text-transform: uppercase;
}

section.form .nav-pills .nav-link.active {
    background-color: black;
    color:#eece12;
}

section.form .nav-pills .nav-link {
    
    color: black;
}

section.form .nav-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px 5px;
    border: 1px solid black;
    border-bottom: none;
}

section.form .form-error {
    text-align: center;
    color: #bd2130;
}

section.form label {
    font-size: 12px;
}


.form-divider {
    margin-bottom: 35px;
}




/* PAINEL ADMINISTRATIVO */

.sidebar .left-sidebar {
    background-color: #2c2c2c;
}

.sidebar .left-sidebar ul li {
    padding: 3% 6%;
    color: #dcdada;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}



.form-options {
    border-bottom: 2px solid #fbcb00;
    border-top: 2px solid #fbcb00;
}

.form-options .col-4, .form-options .col-6 {
    height: 50px;
    background-color: #000;
}

.form-options a {
    font-size: 12px;
    color: #fbcb00;
}

.form-options a:hover {
    text-decoration: none;
}

section.attribuitions {
    background-color: #2c2c2c;
    color: #fff;
    font-size: 0.8em;
    height: 30px;
}

section.attribuitions a {
    color: #FFF;   
}

section.attribuitions .col-md-6.col-12.align-self-center.mx-auto {
    background-color: #2c2c2c;
    color: #FFF;   
}

.float-image{
    position: relative;
    bottom: 65px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}


section.download-regulamento .regulamento-row {
    background-color: #fecb00;
    padding: 60px 0px;
}

section.download-regulamento .regulamento-row .btn {
    background-color: #000;
    border-radius: 0px;
    color: #fecb00;
    font-weight: bolder;
    padding: 15px 50px;
}

section.download-regulamento > .row {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 60px 0px;
    background: url('../img/fundo_formulario_2.jpg') no-repeat center top;
    background-attachment: fixed;
}


