{% extends "layout/default.twig" %}
{% block title %}Cadastro de {{ _page }} | {{ parent() }}{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="{{ base_url() }}/cms/plugins/summernote/summernote.css" rel="stylesheet"/>
    <link href='{{ base_url() }}/cms/css/custom_upload.css' rel='stylesheet' type='text/css'/>
    <link href='{{ base_url() }}/cms/plugins/croppie/croppie.css' rel='stylesheet' type='text/css'/>
    <link href='{{ base_url() }}/cms/css/croppie.css' rel='stylesheet' type='text/css'/>
{% endblock %}
{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Cadastro de {{ _page }}</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">{{ _page }}</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <form action='{{ path_for('admin.posts.save') }}' class='form-horizontal' method="post" enctype="multipart/form-data">
                    {% if entity.id is defined %}
                        <input type="hidden" class="form-control" id="id" name='id' value='{{ entity.id  ?  entity.id  : '' }}'>
                    {% endif %}
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title">Informações principais da noticia</h4>
                                <p class="text-muted m-b-30 font-13">
                                    Preencha os campos para inserir o conteudo no site.
                                </p>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="type">Status:</label>
                                            <div class="col-md-10">
                                                <select name='status' id='status' class='form-control' required>
                                                    <option></option>
                                                    <option value='1' {{ entity.status=='1' ?  'selected'  : '' }}>Publicado</option>
                                                    <option value='0' {{ entity.status=='0' ?  'selected'  : '' }}>Não publicado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="title">Título:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="title" name='title' placeholder="Título da Página" value='{{ entity.title ?  entity.title  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="url">URL Amigável</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="url" name='url' placeholder="URL" value='{{ entity.url ?  entity.url  : '' }}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="content">Descrição:</label>
                                            <div class="col-md-10">
                                                <textarea class='form-control ' id='content_text' name='description'>{{ entity.description ?  entity.description  : '' }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="content">Conteúdo:</label>
                                            <div class="col-md-10">
                                                <textarea class='form-control summernote_complete' id='content_text' name='content'>{{ entity.content ?  entity.content  : '' }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="seo_keywords">Palavras Chaves:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="tags" name='tags' data-role="tagsinput" value='{{ entity.tags ?  entity.tags  : '' }}'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box">
                                        <h4 class="m-t-0 header-title"><b>Imagem Principal</b></h4>
                                        <p class="text-muted m-b-30 font-13">
                                            Selecione a imagem principal da notícia
                                        </p>
                                        <div class="alert alert-info"><strong>Aviso!</strong> A pré-visualização da imagem funciona somente nos navegadores IE10+, FF3.6+, Chrome6.0+ e Opera11.1+.<br>Em navegores antigos, somente o nome do arquivo será exibido.
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Imagem</label>
                                                <input type="file" name='image' class="filestyle" data-buttonname="btn-primary" onchange='loadPreview(this,1)' accept="image/*" value=''/>
                                                <small><strong>Obs.: Selecione outro arquivo para substituir a imagem que esta carregada</strong></small>
                                            </div>
                                            <div class='row'>
                                                <img id='output_1' class='img-responsive' src='{{ entity.image ?  base_url() ~ '/img/noticias/'~ entity.id ~'/'~entity.image  : '' }}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Adicionar extras -->
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Galeria de Imagem</h4>
                        <p class="text-muted m-b-30 font-13">
                            Adicione uma ou mais fotos da notícia
                        </p>
                        <div class='form-group'>
                            <label class="col-md-2 control-label" for="gallery_title">Imagens:</label>
                            <div class="col-md-10">
                                <input type="file" id="gallery-photo-add_{{ "{{ uniqid }}" }}" class="inputfile gallery-photo-add" multiple accept="image/*" data-id="{{ "{{ uniqid }}" }}">
                                <label class="button" for="gallery-photo-add_{{ "{{ uniqid }}" }}">Selecione os arquivos</label>
                            </div>
                        </div>
                        <div class="progress progress-lg m-b-5">
                            <div id='progressbar' class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                            </div>
                        </div>
                        <div class='form-group'>
                            <div class="gallery">
                                {% for row in gallery %}
                                    <div class="gallery_item">
                                        <img src="{{ base_url() }}/img/noticias/{{ entity.id }}/gallery/thumbs/{{ row.photo }}" class="img-responsive"/>
                                        <input type="hidden" name="gallery_image_update_id[]" value="{{ row.id }}"/>
                                        <input type="text" name="gallery_image_update_description[]" class="form-control input-sm" placeholder="Descrição da imagem" value='{{ row.legend }}'/>
                                        <a href="javascript:;" class="" id="gallery_item_remove" data-id='{{ row.id }}'>
                                            <i class="mdi mdi-delete"></i>Remover
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id='gallery_item_remove_image'>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>Cidades</b></h4>
                                <p>Selecione as cidades que a notícia pertence</p>
                                {% for row in cities %}
                                    <div class='col-sm-2'>
                                        <div class='row'>
                                            <div class='col-sm-12'>
                                                <div class='form-group'>
                                                    <div class="checkbox checkbox-primary">
                                                        {% if entity.id != "" %}
                                                            <input name='city[]' id="city_{{ row.id }}" {{ row.posts[0].pivot.cities_id==row.id?'checked':"" }} type="checkbox" value='{{ row.id }}'>
                                                        {% else %}
                                                            <input name='city[]' id="city_{{ row.id }}" type="checkbox" value='{{ row.id }}'>
                                                        {% endif %}

                                                        <label for="city_{{ row.id }}">
                                                            {{ row.name }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>Categorias</b></h4>
                                <p class="text-muted m-b-15 font-13">
                                    Selecione as categorias...
                                </p>

                                <select class="select2 form-control select2-multiple" name='category[]' multiple="multiple" data-placeholder="Selecione as categorias...">
                                    {% for row in categories %}
                                        {% if entity.id != "" %}
                                            <option value="{{ row.id }}" {{ row.posts[0].pivot.categories_id==row.id?'selected':"" }}>{{ row.name }}</option>
                                        {% else %}
                                            <option value="{{ row.id }}">{{ row.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class='row'>
                                    <div class="col-sm-12 col-xs-12">
                                        <button type='submit' class='btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5'>Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {# TEMPLATE para deletar itens da galeria #}
    <script id="delete_gallery_template" type="x-tmpl-mustache">
        <input type="text" name="delete_gallery[]" class="form-control input-sm" placeholder="" value="{{ "{{ id }}" }}"/>
    </script>
    {#TEMPLATE Galeria de Fotos#}
    <script id="thumb_template" type="x-tmpl-mustache">
        <div class="gallery_item">
            <img src="{{ "{{ thumb }}" }}" class="img-responsive"/>
            <input type="hidden" name="gallery_image[]" value="{{ "{{ original }}" }}" />
            <input type="hidden" name="gallery_image_thumb[]" value="{{ "{{ thumb }}" }}" />
            <input type="text" name="gallery_image_description[]" class="form-control input-sm" placeholder="Descrição da imagem"/>
            <a href="javascript:;" class="" id="gallery_item_remove">
                <i class="mdi mdi-delete"></i>Remover
            </a>
        </div>
    </script>

{% endblock %}
{% block jsBottom %}
    {{ parent() }}
    <script src='{{ base_url() }}/cms/plugins/croppie/croppie.js'></script>
    <script src='{{ base_url() }}/cms/plugins/mustache/mustache.js'></script>
    <script src='{{ base_url() }}/cms/js/imagesFunctions.js'></script>
    <script src="{{ base_url() }}/cms/plugins/summernote/summernote.min.js"></script>
    <script src='{{ base_url() }}/cms/js/posts.js'></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                focus: false,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                ]
            });
        });
    </script>
{% endblock %}
