{% extends "layout/default.twig" %}
{% block title %}{{ _page }} | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ _page }}</h4>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">Admin</a>
                            </li>
                            <li class='active'>
                                <a href="#">{{ _page }}</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <a href='{{ path_for('admin.posts.form') }}' class="btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5"><i class='mdi mdi-file'></i> Nova {{ _page_single }}</a>
                        <br><br>
                        <table id="posts"
                               class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Views</th>
                                <th>Título</th>
                                <th>Cidade(s)</th>
                                <th>URL</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block jsBottom %}
            {{ parent() }}
            <script src='{{ baseJs(true) }}news.js'></script>
{% endblock %}