<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        body{
            font-size: 14px;
            background-color: #FFFFFF !important;
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
Recuperação de Senha<br><br>
Sua senha foi resetada.<br>
Abaixo a nova senha para acesso ao sistema.<br>
<br>
E-mail:<br>
{{ email }}
<br><br>
Senha:<br>
{{ senha }}
<br><br>
<strong>
    Att.<br>
    Metropolitana News
    <br>
</strong>
</body>
</html>