{% extends "layout/default.twig" %}
{% block title %}Cadastro de {{ _page }} | {{ parent() }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Cadastro de {{ _page }}</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">{{ _page }}</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <form action='{{ path_for('admin.sponsors.save') }}' class="form-horizontal" method="post" enctype="multipart/form-data">

                    {% if entity.id is defined %}
                        <input type="hidden" class="form-control" id="id" name='id' value='{{ entity.id  ?  entity.id  : '' }}'>
                    {% endif %}
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>Informações</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Informações básicas do {{ _page_single }}
                                </p>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Status</label>
                                    <div class="col-md-6">
                                        <select name='status' class='form-control' required>
                                            <option selected></option>
                                            <option value='1' {{ entity.status=='1'?'selected':'' }}>Publicado</option>
                                            <option value='0' {{ entity.status=='0'?'selected':'' }}>Não Publicado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Título</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name='title' placeholder="Título do patrocinador" value='{{ entity.title ?  entity.title  : '' }}' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Link</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name='link' value='{{ entity.link ?  entity.link  : '' }}' placeholder="Link Banner">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Abrir na ..</label>
                                    <div class="col-md-6">
                                        <select name='target' class='form-control'>
                                            <option></option>
                                            <option value='_BLANK' {{ entity.target=='_BLANK'?'selected':'' }}>Outra Janela</option>
                                            <option value='_SELF' {{ entity.target=='_SELF'?'selected':'' }}>Mesma Janela</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Local Publicidade</label>
                                    <div class="col-md-6">
                                        <h5 style='margin-bottom: 0px; margin-top: 15px;'><b>Computador</b></h5>
                                        <div class="checkbox checkbox-primary ">
                                            <input class="local" name="local[]" {{ '0' in locals?'checked':"" }} id="local0" type="checkbox" value="0">
                                            <label for="local0">
                                                Página Inicial Cabeçalho (0)
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary ">
                                            <input class="local" name="local[]" {{ '1' in locals?'checked':"" }} id="local1" type="checkbox" value="1">
                                            <label for="local1">
                                                Página Inicial Rodapé (1)
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary ">
                                            <input class="local" name="local[]" {{ '2' in locals?'checked':"" }} id="local2" type="checkbox" value="2">
                                            <label for="local2">
                                                Notícia Cabeçalho (2)
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input class="remember" name="local[]" {{ '3' in locals?'checked':"" }} id="local3" type="checkbox" value="3">
                                            <label for="local3">
                                                Notícia Rodapé (3)
                                            </label>
                                        </div>

                                        <div class="checkbox checkbox-primary">
                                            <input class="remember" name="local[]" {{ '4' in locals?'checked':"" }} id="local4" type="checkbox" value="4">
                                            <label for="local4">
                                                Lateral da Notícia / Entre título (4)
                                            </label>
                                        </div>

                                        <h5 style='margin-bottom: 0px; margin-top: 15px;'><b>Mobile</b></h5>

                                        <div class="checkbox checkbox-primary ">
                                            <input class="local" name="local[]" {{ '10' in locals?'checked':"" }} id="local10" type="checkbox" value="10">
                                            <label for="local10">
                                                Página Inicial Cabeçalho (Mobile) (10)
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary ">
                                            <input class="local" name="local[]" {{ '11' in locals?'checked':"" }} id="local11" type="checkbox" value="11">
                                            <label for="local11">
                                                Página Inicial Rodapé (Mobile) (11)
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary ">
                                            <input class="local" name="local[]" {{ '21' in locals?'checked':"" }} id="local21" type="checkbox" value="21">
                                            <label for="local21">
                                                Notícia Cabeçalho(Mobile) (21)
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input class="remember" name="local[]" {{ '31' in locals?'checked':"" }} id="local31" type="checkbox" value="31">
                                            <label for="local31">
                                                Notícia Rodapé(Mobile) (31)
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Cidades</label>
                                    <div class="col-md-6">
                                        {% for row in cities %}
                                        <div class="checkbox checkbox-primary ">
                                            {% if entity.id != "" %}
                                                <input class="local" name="city[]" id="city_{{ row.id }}" type="checkbox" {{ row.sponsors[0].pivot.cities_id==row.id?'checked':"" }} value="{{ row.id }}">
                                            {% else %}
                                                <input name='city[]' id="city_{{ row.id }}" type="checkbox" value='{{ row.id }}'>
                                            {% endif %}
                                            <label for="city_{{ row.id }}">
                                                {{ row.name }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Validade</label>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="pull-right form-control">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span></span>
                                            <input type='hidden' name='initial_date' value='{{ entity.initial_date }}'>
                                            <input type='hidden' name='final_date'  value='{{ entity.final_date }}'>
                                        </div>
                                        <small>Automaticamente esta 30 dias.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Imagem</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Selecione o arquivo de imagem
                                </p>
                                <div class="alert alert-info"><strong>Aviso!</strong> A pré-visualização da imagem funciona somente nos navegadores IE10+, FF3.6+, Chrome6.0+ e Opera11.1+.<br>Em navegores antigos, somente o nome do arquivo será exibido.
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Visualização do Arquivo</label>
                                        <input type="file" name='banner' class="filestyle" data-buttonname="btn-primary" onchange='loadPreview(this)' accept="image/*"/>
                                        <small><strong>Obs.: Selecione outro arquivo para substituir a imagem que esta carregada</strong></small>
                                    </div>
                                    <div class='row'>
                                        <img id='output' class='img-responsive' src='{{ entity.filename ?  baseImg() ~ 'sponsors/'~entity.filename  : '' }}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class='row'>
                                    <div class="col-sm-12 col-xs-12">
                                        <button type='submit' class='btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5'>Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsBottom %}
    {{ parent() }}
{% endblock %}
