{% extends "layout/default.twig" %}
{% block title %}{{ _page }} | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">{{ _page }} </h4>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">Admin</a>
                            </li>
                            <li class='active'>
                                <a href="#">{{ _page }}</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <a href='{{ path_for('admin.sponsors.form') }}' class="btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5"><i class='mdi mdi-file-document'></i> Novo {{ _page_single }}</a>
                        <br><br>
                        <table id="datatable-responsive"
                               class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data Inicial</th>
                                <th>Data Final</th>
                                <th>Status</th>
                                <th>Thumbs</th>
                                <th>Clicks</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in collection %}
                                <tr>
                                    <td>{{ row.title }}</td>
                                    <td>{{ row.initial_date|date("d/m/Y") }}</td>
                                    <td>{{ row.final_date|date("d/m/Y") }}</td>
                                    <td>{{ row.status==1?'Publicado':'Não Publicado' }}</td>
                                    <td><img src='{{ baseImg() ~ 'sponsors/'~row.filename }}' width='100px'/> </td>
                                    <th>{{ row.views }}<br><a href="{{ path_for('admin.reports.sponsors',{},{'id':row.id}) }}" target="_blank">Relatório</a> </th>
                                    <td>
                                        <a href='{{ path_for('admin.sponsors.form.edit',{'id': row.id}) }}'>
                                            <i class='mdi mdi-18px mdi-pen'></i>
                                        </a>
                                        <a href="javascript:confirmDelete('{{ path_for('admin.sponsors.delete',{'id':row.id}) }}')" class="on-default remove-row">
                                            <i class="mdi mdi-18px mdi-delete text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block jsBottom %}
            {{ parent() }}
{% endblock %}