{% extends "layout/login.twig" %}
{% block title %}Esqueci minha senha | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    <!-- HOME -->
    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12">

                    <div class="wrapper-page">

                        <div class="m-t-40 account-pages">
                            <div class="text-center account-logo-box">
                                <h2 class="text-uppercase">
                                    <a href="index.html" class="text-success">
                                        <span><img src="{{ base_url() }}/img/logo.png" alt="" height="36"></span>
                                    </a>
                                </h2>
                                <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                            </div>
                            <div class="account-content">
                                <div class="text-center m-b-20">
                                    <p class="text-muted m-b-0 font-13">Digite o seu endereço de e-mail para receber as instruções para recuperação de senha.</p>
                                </div>
                                <form class="form-horizontal" method='post' action="{{ path_for('admin.user.reset.password') }}">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <input class="form-control" autofocus name="email" type="email" required="" placeholder="E-mail">
                                        </div>
                                    </div>
                                    <div class="form-group text-center m-t-30">
                                        <div class="col-sm-12">
                                            <a href="{{ path_for('admin.login') }}" class="text-muted"><i class="fa fa-arrow-left m-r-5"></i>Voltar para login</a>
                                        </div>
                                    </div>
                                    <div class="form-group account-btn text-center m-t-10">
                                        <div class="col-xs-12">
                                            <button class="btn w-md btn-bordered btn-danger waves-effect waves-light"
                                                    type="submit">Enviar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- end card-box-->
                    </div>
                    <!-- end wrapper -->
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
{% endblock %}