{% extends "layout/default.twig" %}
{% block title %}Dashboard | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Dashboard</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">Dashboard</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!-- content -->
    </div>
{% endblock %}
{% block jsBottom %}
    {{ parent() }}
{% endblock %}