{% extends "layout/login.twig" %}
{% block title %}Login | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    <section>
        <div class="container-alt">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper-page">
                        <div class="m-t-40 account-pages">
                            <div class="text-center account-logo-box">
                                <h2 class="text-uppercase">
                                    <a href="index.html" class="text-success">
                                    <span>
                                        <img src="{{ base_url() }}/img/logo.png" alt="" height="36">
                                    </span>
                                    </a>
                                </h2>
                                <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                            </div>
                            <div class="account-content">
                                <form class="form-horizontal" action="{{ path_for('admin.users.login') }}" method="post">
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            <input class="form-control" name="username" autofocus type="text" required="" placeholder="Usuário">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <input class="form-control" name="password" type="password" required="" placeholder="Senha">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            <div class="checkbox checkbox-success">
                                                <input class="remember" name="remember" id="checkbox-signup" type="checkbox" value="1">
                                                <label for="checkbox-signup">
                                                    Continuar conectado
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center m-t-30">
                                        <div class="col-sm-12">
                                            <a href="{{ path_for('admin.users.forgot') }}" class="text-muted"><i class="fa fa-lock m-r-5"></i>Esqueci a minha senha</a>
                                        </div>
                                    </div>
                                    <div class="form-group account-btn text-center m-t-10">
                                        <div class="col-xs-12">
                                            <button class="btn w-md btn-bordered btn-danger waves-effect waves-light" type="submit">Entrar</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        {#<div class="row m-t-50">#}
                        {#<div class="col-sm-12 text-center">#}
                        {#<p class="text-muted">Desenvolvido por Enzo Nagata</p>#}
                        {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}