<html lang='pt-BR'>
    <head>
        {% set v='1.1.3' %}
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        {% block head %}
            <title>
                {% block title %}
                    {{ _title }}
                {% endblock %}
            </title>
            <!-- ==== Document Meta ==== -->
            <meta content='max-age=31536000,public' http-equiv='cache-control'/>

            <meta content="" name="author">
            <meta content="" name="description">
            <meta content="" name="keywords">

            {% if post|length >0 %}

                <!-- Facebook -->
                <meta property="og:title" content="{{ post.title }}">
                <meta property="og:description" content="{{ post.description }}">
                <meta property="og:image" content="{{ base_url()~'/img/noticias/'~post.id~'/'~post.image }}">
                <meta property="og:image:alt" content="{{ base_url()~'/img/logoalternativa.jpg' }}">

                <meta content="600" property="og:image:width"/>
                <meta content="400" property="og:image:height"/>
                <meta
                property="og:url" content="{{ base_url()~path_for('post',{'url':post.url}) }}">


                <!-- Twitter -->
                <meta name="twitter:title" content="{{ post.title }}">
                <meta name="twitter:description" content="{{ post.description }}">
                <meta content=" {{ base_url()~'/img/noticias/'~post.id~'/'~post.image }}" name="twitter:image">
                <meta content="summary_large_image" name="twitter:card">

            {% else %}

                <!-- Facebook -->
                <meta content="" property="og:title">
                <meta content="" property="og:description">
                <meta property="og:image" content="{{ base_url()~'/img/logoalternativa.jpg' }}">
                <meta content="640" property="og:image:width"/>
                <meta content="442" property="og:image:height"/>
                <meta
                property="og:url" content="{{ base_url() }}">


                <!-- Twitter -->
                <meta content="" name="twitter:title">
                <meta content="" name="twitter:description">
                <meta name="twitter:image" content="{{ base_url()~'/img/logoalternativa.jpg' }}">
                <meta content="summary_large_image" name="twitter:card">

            {% endif %}


        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
        <link
        rel="icon" href="{{ base_url() }}/favicon.png" type="image/png">
       
        <!--CSS-->
        <link href="{{ baseCss() }}bootstrap-reboot.min.css" rel="stylesheet">
        <link href="{{ baseCss() }}bootstrap-grid.min.css" rel="stylesheet">
        <link href="{{ baseCss() }}bootstrap.min.css" rel="stylesheet">
        <link href="{{ baseCss() }}style.css" rel="stylesheet">
        <link href="{{ baseCss() }}responsive.css" rel="stylesheet">
        <link href="{{ baseCss() }}animate.css" rel="stylesheet">
        
        <!-- Slick Slider -->
        <link href="{{ baseCss() }}slick/slick/slick.css" rel="stylesheet">
        <link href="{{ baseCss() }}slick/slick/slick-theme.css" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        {% include('blocks/header.twig') %}
        <div class="container-fluid holder"> {% block content %}{% endblock %}
            </div>
            {% include('blocks/footer.twig') %}
         
            {% if flash['msg'][0]|length > 0 %}
                <script>
                    window.onload = function () {
                        swal('{{ flash["msg"][0].title }}', '{{ flash["msg"][0].message }}', '{{ flash["msg"][0].type }}');{% if flash["msg"][0].type == 'error' %}window.history.back();{% endif %}
                    }
                </script>
            {% endif %}
        </body>
    </html>
