<html lang='pt-BR'>
    <head>
        {% set v='1.1.3' %}
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
       
       
        {% block head %}

            <title>
                {% block title %}
                    {{ _title }}
                {% endblock %}
            </title>
            <!-- ==== Document Meta ==== -->
            <meta content='max-age=31536000,public' http-equiv='cache-control'/>

            <meta content="" name="author">
            <meta content="" name="description">
            <meta content="" name="keywords">

        {% endblock %}


        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
        <link
        rel="icon" href="{{ base_url() }}/favicon.png" type="image/png">
        <!--CSS-->
        <link href="{{ baseCss() }}bootstrap-reboot.min.css" rel="stylesheet">
        <link href="{{ baseCss() }}bootstrap-grid.min.css" rel="stylesheet">
        <link href="{{ baseCss() }}bootstrap.min.css" rel="stylesheet">

  
  <!-- Font Awesome-->
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/font-awesome/css/font-awesome.min.css"/>
  
  <!-- Bootstrap extend-->
	<link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-extend.css">
	
	<!-- theme style -->
	<link rel="stylesheet" href="{{ base_url() }}/css/master_style.css">

	<!-- Superieur Admin skins -->
	<link rel="stylesheet" href="{{ base_url() }}/assets/css/skins.css">

</head>

<body class="skin-info-light sidebar-mini sidebar-collapse">

<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" style="margin-left:0px;background-color:#465161">
	  <div>
      <div class="logo-panel ml-50">
        <img src="{{ baseImg() }}jsilva-inverse.png" alt="">
      </div>
	  </div>
      <div class="navbar-custom-menu mr-50">
        <ul class="list-inline mb-0 text-white">
          <li>{{ single_candidato.nome ~ ' ' ~ single_candidato.sobrenome}}</li>
          <li class="list-separator"> | </li>
          <li>{{ single_candidato.email }}</li>
          <li><a class="text-white" href="{{ path_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->






  {% block content %}
  {% endblock %}



  <footer class="main-footer" style="margin-left:0px;">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item"><a class="nav-link" href="{{ baseJs() }}regulamentofinal.pdf" download="regulamento.pdf">Regulamento</a></li>
		</ul>
    </div>
	  &copy; 2019 - <a href="http://jsilvapaineis.com.br/" target="_blank">JSilva Outdoors</a>. Todos os direitos reservados.
  </footer>

  
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->

  <script src="{{ baseJs() }}jquery-3.4.1.min.js"></script>
  
  <script src="{{ baseJs() }}bootstrap.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="{{ base_url() }}/assets/jquery-ui/jquery-ui.js"></script>
	
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	
	<!-- Superieur Admin App -->
	<script src="{{ base_url() }}/assets/js/template.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>



    <script>

    $(document).ready(function(e){
    $("#compForm").on('submit', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{{ path_for('upload_comprovante') }}',
            data: new FormData(this),
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#compForm').css("opacity",".5");
            },
            success: function(msg){
                $('.statusMsg').html('');
                if(msg == 'ok'){
                    $('#compForm')[0].reset(); 
                    $('#comp-title').html('Comprovante enviado com sucesso! <i class="fa fa-check-square-o" aria-hidden="true"></i>');
                    $('#formComp').fadeOut();
                    Swal.fire(
                        'Excelente!',
                        'Seu comprovante foi enviado com sucesso!',
                        'success'
                    )
                    $('#project-title').html('Você ainda não enviou seu projeto.');
                    $('#project-description').html('Clique no botão ao lado para enviar');
                    $('#formProject').fadeIn("fast");

                }else{
                    $('.statusMsg').html('<span style="font-size:12px;color:#EA4335">Problema ao enviar arquivo. Por favor tente novamente.</span>');
                }
                $('#compForm').css("opacity","");
                $(".submitBtn").removeAttr("disabled");
            }        
        });
    });

    $(document).ready(function(e){
    $("#fupForm").on('submit', function(e){
        var confirm;
        e.preventDefault();
        Swal.fire({
        title: 'Você tem certeza?',
        text: "Essa ação não poderá ser desfeita!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: "Cancelar",
        confirmButtonText: 'Sim, substituir meu projeto!',
        footer: 'Sua contagem de likes será zerada! <a style="margin-left:5px;" href="{{ baseJs() }}regulamentofinal.pdf" download="regulamento_manda_job.pdf">Saiba mais</a>'
        }).then((result) => {    
            if(result.value == true){
                $.ajax({
                type: 'POST',
                url: '{{ path_for('upload_project') }}',
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData:false,
                success: function(msg){
                    $('.statusMsg').html('');
                    if(msg == 'ok'){
                        $('#fupForm')[0].reset(); 
                        Swal.fire(
                            'Excelente!',
                            'Seu projeto foi enviado com sucesso!',
                            'success'
                        )
                        $('#project-title').html('Projeto enviado com sucesso! <i class="fa fa-check-square-o" aria-hidden="true"></i>');
                        $('#project-description').html('Caso queira substituir seu projeto, clique no botão abaixo.');
                        //$('.statusMsg').html('<span style="font-size:12px;color:#34A853">Projeto enviado com sucesso.</span>');
                    }else{
                        $('.statusMsg').html('<span style="font-size:12px;color:#EA4335">Problema ao enviar arquivo. Por favor tente novamente.</span>');
                    }
                    $('#fupForm').css("opacity","");
                    $(".submitBtn").removeAttr("disabled");
                }
            });
            } else {
                return false;
            }
        })
    });




    $("#comprovante").change(function() {
        var file = this.files[0];
        var imagefile = file.type;
        var imagesize = file.size;
        var match= ["application/pdf", "image/jpg", "image/jpeg", "image/png"];
        if(!((imagefile==match[0] || imagefile==match[1] || imagefile==match[2] || imagefile==match[3]))){
            Swal.fire({
                type: 'error',
                title: 'Extensão inválida!',
                html: 'Por favor selecione um arquivo com as seguintes extensões: <strong>.pdf, .jpg ou .png</strong>'
            })
            $("#comprovante").val('');
            return false;
        } else if(((imagesize>=10000000))) {
             Swal.fire({
                type: 'error',
                title: 'Arquivo muito grande!',
                html: 'Para ser enviado seu arquivo deve ter menos de <strong>10mb</strong>.'
            })
            $("#comprovante").val('');
            return false;
        } else {
            return true;
        }
    }); 



//file type validation
    $("#file").change(function() {
        var file = this.files[0];
        var imagefile = file.type;
        var imagesize = file.size;
        var match= ["application/pdf"];
        if(!((imagefile==match[0]))){
            Swal.fire({
                type: 'error',
                title: 'Extensão inválida!',
                html: 'Por favor selecione um arquivo com as seguintes extensões: <strong>.pdf</strong>'
            });
            $("#file").val('');
            return false;
        } else if(((imagesize>=10000000))) {
            Swal.fire({
                type: 'error',
                title: 'Arquivo muito grande!',
                html: 'Para ser enviado seu arquivo deve ter menos de <strong>10mb</strong>.'
            });
            $("#file").val('');
            return false;
        } else {
            return true;
        }
    }); 

    $("#preview").change(function() {
        var file = this.files[0];
        var imagefile = file.type;
        var imagesize = file.size;

        console.log(imagefile);

        var match= ["image/jpg", "image/jpeg", "image/png"];
        if(!((imagefile==match[0] || imagefile==match[1] || imagefile==match[2]))){
            Swal.fire({
                type: 'error',
                title: 'Extensão inválida!',
                html: 'Por favor selecione um arquivo com as seguintes extensões: <strong>.jpg ou .png</strong>'
            });
            $("#preview").val('');
            return false;
        } else if(((imagesize>=10000000))) {
            Swal.fire({
                type: 'error',
                title: 'Arquivo muito grande!',
                html: 'Para ser enviado seu arquivo deve ter menos de <strong>10mb</strong>.'
            });
            $("#preview").val('');
            return false;
        } else {
           return true;
        }
    }); 








});

});


    
    
</script>



</body>
