<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="{{ path_for('admin.posts.index') }}" class="logo">
            <img src='{{ base_url() }}/img/logo.png' style='max-width: 120px;'/></a>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">

            <!-- Navbar-left -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>

            <!-- Right(Notification) -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user-box">
                    <a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                        {% if _user.profile=="" %}
                            <img src="{{ base_url() }}/cms/img/avatar-1.jpg" alt="user-img" class="img-circle user-img">
                        {% else %}
                            <img src="{{ base_url() }}/img/perfil/{{ _user.profile }}" alt="user-img" class="img-circle user-img">
                        {% endif %}
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                        <li>
                            <h5>{{ _user.name }}</h5>
                        </li>
                        <li><a href="{{ path_for('admin.users.logout') }}"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                    </ul>
                </li>

            </ul> <!-- end navbar-right -->

        </div><!-- end container -->
    </div><!-- end navbar -->
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menu</li>

                <li class="has_sub">
                    <a href="{{ path_for('admin.categories.index') }}" class="waves-effect"><i class="mdi mdi-file-tree"></i><span> Categorias </span></a>
                </li>
                <li class="has_sub">
                    <a href="{{ path_for('admin.posts.index') }}" class="waves-effect"><i class="mdi mdi-paperclip"></i><span> Notícias </span></a>
                </li>
                {% if _user.permission==0 or _user.permission==1 %}
                <li class="has_sub">
                    <a href="{{ path_for('admin.sponsors.index') }}" class="waves-effect"><i class="mdi mdi-bullhorn"></i><span> Publicidade </span></a>
                </li>
                <li class="has_sub">
                    <a href="{{ path_for('admin.cities.index') }}" class="waves-effect"><i class="mdi mdi-map-marker-radius"></i><span> Cidades </span></a>
                </li>
                <li class="has_sub">
                    <a href="{{ path_for('admin.users.index') }}" class="waves-effect"><i class="mdi mdi-account"></i><span> Usuários </span></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

        <div class="help-box">
            <h5 class="text-muted m-t-0">Precisa de ajuda?</h5>
            <p class=""><span class="text-custom">Email:</span> <br/> enzo.nagata@gmail.com</p>
            <p class="m-b-0"><span class="text-custom">Whatsapp:</span> <br/> (17) 99764-0650</p>
        </div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
