/*Croppie Custom*/
.croppie-container {
}
input[type='file']#upload-field,input[type='file']#upload-field-2 {
    display: none
}
#user-image{
    width: 150px;
}
.actions {
    margin: 15px 0px;
    text-align: center;
}

/* Aparência que terá o seletor de arquivo */
label.upload-field,label.upload-field-2 {
    color: #fff;
    cursor: pointer;
    margin: 0px;
}


.croppie-container .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
    border:1px solid #DDD;
}

.hidden{
    display: none;
}