/*Gallery*/
.thumb_item,.banner_item,.gallery_item {
    float: left;
    padding: 7px;
    border: 1px solid #DDD;
    margin: 6px;
    border-radius: 8px;
}
.thumb_item>img,.banner_item>img,.gallery_item>img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
/*Button*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: white;
    background-color: #32c861;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 20px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
/*Remove Button*/
a#thumb_item_remove,a#details_item_remove,a#banner_item_remove,a#gallery_item_remove {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    text-align: center;
}
ul#attribute_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#attribute_list li.details_item {float: left;padding: 7px;border: 1px solid #DDD;margin: 6px;border-radius: 8px;}