<section class="attribuitions">
    <div class="container">
        <div class="row text-center h-100">
            <div class="col-md-6 col-12 align-self-center mx-auto">JSilva Painéis &copy;{{ "now"|date("Y") }} - Todos os direitos reservados.</div>
            <div class="col-md-6 col-12 align-self-center mx-auto">Desenvolvido por <a href="http://agencialed.com.br" target="_blank">LED Digital</a></div>
        </div>
    </div>
</section>
{% block jsBottom %}
        <script src="{{ baseJs() }}jquery-3.4.1.min.js"></script>
        <script src="{{ baseCss() }}slick/slick/jquery-migrate-1.4.1.min.js"></script>
        <script src="{{ baseCss() }}slick/slick/slick.min.js"></script>
        


        <script src="{{ baseJs() }}bootstrap.min.js"></script>
        <script src="{{ baseJs() }}jquery.mask.min.js"></script>
        <script src="{{ baseJs() }}jquery.validate.js"></script>
        <script src="{{ baseJs() }}additional-methods.js"></script>
        <script src="{{ baseJs() }}script.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

{% endblock %}


    <script type="text/javascript">
        $(document).ready(function(){
            $('.respCarousel').slick({
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
});
  </script>

    <script>
        jQuery('#sendbutton').click(function(){
            
            function sendValues(){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function(){
                    if(this.readyState == 4 && this.status == 200){

                    }
                }
            }
        });

    </script>

        <script>
            jQuery(document).ready(function(){
                jQuery("input[name='cpf[]']").mask('000.000.000-00', {reverse: false});
                jQuery("input[name='cpf_double_1[]']").mask('000.000.000-00', {reverse: false});
                jQuery("input[name='cpf_double_2[]']").mask('000.000.000-00', {reverse: false});
                jQuery("input[name='cep[]']").mask('00000-000', {reverse: false});
                jQuery("input[name='data_nascimento[]']").mask('00/00/0000');
                jQuery("input[name='telefone[]']").mask("(00) 00000-0000").focusout(function (event) {  
                    var target, phone, element;  
                    target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
                    phone = target.value.replace(/\D/g, '');
                    element = $(target);  
                    element.unmask();  
                    if(phone.length > 10) {  
                        element.mask("(00) 00000-0000");  
                    } else {  
                        element.mask("(00) 0000-00000");  
                    }  
                });


                if(emails[1] != "") {
                    Swal.fire({
                    title: 'Excelente!',
                    type: 'success',
                    html:
                        'Um email foi enviado para </br> <strong>' + emails[0] + '</strong> e <strong>' + emails[1] + '</strong> </br> com as instruções para continuar o cadastro!',
                    showCloseButton: false,
                    showCancelButton: false,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Continuar!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                    cancelButtonText:
                        '<i class="fa fa-thumbs-down"></i>',
                    cancelButtonAriaLabel: 'Thumbs down'
                    });
                } else {
                    Swal.fire({
                    title: 'Excelente!',
                    type: 'success',
                    html:
                        'Um email foi enviado para </br> <strong>' + emails[0] + '</strong> </br> com as instruções para continuar o cadastro!',
                    showCloseButton: false,
                    showCancelButton: false,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Continuar!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                    cancelButtonText:
                        '<i class="fa fa-thumbs-down"></i>',
                    cancelButtonAriaLabel: 'Thumbs down'
                    });
                }

            });
        </script>

        <script>
            jQuery("#pass-form").validate({
                debug: false,
                errorElement: "small",
                errorClass: "form-text text-muted",
                
                rules: {
                    "pass[]": {
                        required: true,
                        minlength: 6
                    },
                    "passcheck[]": {
                        required: true,
                        equalTo : "input[name='pass[]']"
                    }
                },

                messages: {
                    "pass[]": {
                        required: "Este campo não pode estar em branco",
                        minlength: "Sua senha deve ter pelo menos 6 caracteres",
                    },

                    "passcheck[]": {
                        required: "Este campo não pode estar em branco",
                        equalTo: "Os campos não correspondem"
                    }
                }
            });
        </script>


        <script>
            jQuery("#form-single").validate({
                debug: false,
                errorElement: "small",
                errorClass: "form-text text-muted",
                rules: {
                    "nome[]": {
                        required: true,
                        minlength:3,
                        maxlength: 45
                    },
                    "sobrenome[]" : {
                        required: true,
                        minlength:3,
                        maxlength: 45
                    },
                    "telefone[]": {
                        required: true,
                        minlength: 12,
                    },
                    "email[]": {
                        required: true,
                        email: true,
                        remote: {
                            url: '{{ path_for('checkEmail') }}',
                            type: 'POST'
                        }
                    },
                    "cidade[]": {
                        required: true,
                        minlength: 3,
                        maxlength: 45
                    },
                    "cep[]": {
                        required: true,
                        minlength: 9
                    },
                    "data_nascimento[]": {
                        required: true,
                        dateITA: true 
                    },
                    "cpf[]": {
                        cpfBR:true,
                        required: true,
                        minlength: 14,
                        remote: {
                            url: '{{ path_for('checkCPF') }}',
                            type: "POST",
                            data: {
                               cpf: function() {
                                    return $("input[name='cpf[]']").val();
                                }
                            }
                        }
                    } 
                },

                messages: {
                    "nome[]": {
                        required: "Por favor informe seu nome",
                        minlength: "Seu nome deve conter ao menos 3 caracteres",
                        maxlength: "Seu nome deve ser menor que 45 caracteres"
                    },
                    "sobrenome[]": {
                        required: "Por favor informe seu sobrenome",
                        minlength: "Seu sobrenome deve conter ao menos 3 caracteres",
                        maxlength: "Seu sobrenome deve ser menor que 45 caracteres"
                    },
                    "telefone[]" : {
                        required: "Por favor insira seu telefone",
                        minlength: "Informe um telefone válido"

                    },
                    "email[]": {
                        required: "Por favor informe seu e-mail",
                        email: "Por favor informe um e-mail válido",
                        remote: "Esse e-mail já está em uso"
                    },
                    "cep[]": {
                        required: "Por favor informe seu CEP",
                        minlength: "Inserir no máximo 9 caracteres"
                    },
                    "cidade[]": {
                        required: "Por favor informe sua cidade",
                        minlength: "O nome da cidade deve conter ao menos 3 caracteres",
                        maxlength: "O nome da cidade deve ser menor que 45 caracteres"
                    },
                    "cpf[]" : {
                        cpfBR:"Digite um CPF válido",
                        required: "Por favor informe seu CPF",
                        minlength: "Por favor informe um CPF Válido",
                        remote: "CPF já cadastrado"
                    },
                    "faculdade[]" : {
                        required: "Por favor informe sua instituição de ensino"
                    },
                    "ra[]": {
                        required: "Por favor informe seu R.A."
                    },
                    "data_nascimento[]": {
                        required: "Por favor informar data",
                        dateITA: "Formato da data dd/mm/aaaa"
                    },
                    "curso[]": {
                        required:"Por favor informe seu curso"
                    }
                },
                submitHandler: function(form) {
                    $(form).ajaxSubmit();
                }
            });
        </script>


        <script>
            $(document).ready(function(){
                
                $($("#singleCEP")).blur(function(){
                    var cep = $(this).val().replace(/\D/g, '');
                    if(cep != ""){
                        var validaCep = /^[0-9]{8}$/;
                        if(validaCep.test(cep)){
                            $("#singleCidade").val("...");
                            $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                                if(!("erro" in dados)){
                                    $("#singleCidade").val(dados.localidade);
                                } else {
                                    alert("CEP não encontrado!");
                                    $("#singleCEP").val() = "";
                                }
                            });
                        } else {
                            $("#singleCEP").val() = "";
                            alert("Formato de CEP inválido.");
                        }
                    } else {
                        $("#singleCEP").val() = "";
                    }
                });

                 $($("#doubleCep")).blur(function(){
                    var cep = $(this).val().replace(/\D/g, '');
                    if(cep != ""){
                        var validaCep = /^[0-9]{8}$/;
                        if(validaCep.test(cep)){
                            $("#doubleCidade").val("...");
                            $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                                if(!("erro" in dados)){
                                    $("#doubleCidade").val(dados.localidade);
                                } else {
                                    alert("CEP não encontrado!");
                                    $("#doubleCidade").val() = "";
                                }
                            });
                        } else {
                            $("#doubleCep").val() = "";
                            alert("Formato de CEP inválido.");
                        }
                    } else {
                        $("#doubleCep").val() = "";
                    }
                });

                $($("#doubleCEP_sec")).blur(function(){
                    var cep = $(this).val().replace(/\D/g, '');
                    if(cep != ""){
                        var validaCep = /^[0-9]{8}$/;
                        if(validaCep.test(cep)){
                            $("#doubleCidade_sec").val("...");
                            $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                                if(!("erro" in dados)){
                                    $("#doubleCidade_sec").val(dados.localidade);
                                } else {
                                    alert("CEP não encontrado!");
                                    $("#doubleCidade_sec").val() = "";
                                }
                            });
                        } else {
                            $("#doubleCEP_sec").val() = "";
                            alert("Formato de CEP inválido.");
                        }
                    } else {
                        $("#doubleCEP_sec").val() = "";
                    }
                });

            });
        </script>


        {# <script>
            jQuery('#forgotForm').validate({
                debug: false,
                errorElement: "small",
                errorClass: "form-text text-muted",
                rules: {
                    "email[]": {
                        required: true,
                        email: true,
                        remote: {
                            url: '{{ path_for('checkEmail') }}',
                            type: 'POST',
                            data: {
                                typeRequest: function() {
                                    return $("input[name='typeRequest']").val();
                                },
                            }
                        }
                    }
                },
                messages: {
                    "email[]": {
                        required: "Informe seu e-mail",
                        email: "Informe um e-mail válido",
                        remote: "Email não cadastrado"
                    }
                }  
            });
        </script> #}


        <script>
            jQuery("#form-double").validate({
                debug: false,
                errorElement: "small",
                errorClass: "form-text text-muted",
                rules: {
                        "nome[]": {
                            required: true,
                            minlength:3,
                            maxlength: 45
                        },
                        "sobrenome[]" : {
                        required: true,
                        minlength:3,
                        maxlength: 45
                        },
                        "telefone[]": {
                            required: true,
                            minlength: 12,
                        },
                        "email[]": {
                            required: true,
                            email: true,
                            remote: {
                                url: '{{ path_for('checkEmail') }}',
                                type: 'POST'
                            }
                        },
                        "cidade[]": {
                            required: true,
                            minlength: 3,
                            maxlength: 45
                        },
                        "data_nascimento[]": {
                            required: true,
                            dateITA: true 
                        },
                        "cpf_double_1[]": {
                            cpfBR:true,
                            required: true,
                            remote: {
                                url: '{{ path_for('checkCPF') }}',
                                type: "POST",
                                data: {
                                    cpf: function() {
                                            return $("input[name='cpf_double_1[]']").val();
                                        }
                                    },
                                }
                        },
                        "cpf_double_2[]": {
                            cpfBR:true,
                            required: true,
                            remote: {
                                url: '{{ path_for('checkCPF') }}',
                                type: "POST",
                                data: {
                                    cpf: function() {
                                            return $("input[name='cpf_double_2[]']").val();
                                        }
                                    },
                                }
                        },
                         "faculdade[]" : {
                            required: true
                        },
                        "ra[]": {
                            required: true
                        },
                        "curso[]": {
                            required:true
                        }
                    },
                messages: {
                    "nome[]": {
                           required: "Por favor informe seu nome",
                            minlength: "Seu nome deve conter ao menos 3 caracteres",
                            maxlength: "Seu nome deve ser menor que 45 caracteres"
                        },
                        "sobrenome[]" : {
                            required: "Por favor informe seu sobrenome",
                            minlength: "Seu sobrenome deve conter ao menos 3 caracteres",
                            maxlength: "Seu sobrenome deve ser menor que 45 caracteres"
                        },
                        "cep[]" : {
                            required: "Por favor informe seu CEP"
                        },
                        "telefone[]": {
                            required: "Por favor insira seu telefone",
                            minlength: "Informe um telefone válido"
                        },
                        "email[]": {
                           required: "Por favor informe seu e-mail",
                            email: "Por favor informe um email válido",
                            remote: "Esse e-mail já está em uso" 
                        },
                        "cidade[]": {
                            required: "Por favor informe sua cidade",
                            minlength: "O nome da cidade deve conter ao menos 3 caracteres",
                            maxlength: "O nome da cidade deve ser menor que 45 caracteres"
                        },
                        "data_nascimento[]": {
                           required: "Por favor informar data",
                           dateITA: "Formato da data dd/mm/aaaa"
                        },
                        "cpf_double_1[]" : {
                            required:"Digite um CPF.",
                            cpfBR:"Digite um CPF válido",
                            minlength: "Minimo de caracteres 14.",
                            remote:"CPF já em uso."
                        },
                        "cpf_double_2[]" : {
                            required:"Digite um CPF.",
                            cpfBR:"Digite um CPF válido",
                            remote:"CPF já em uso."
                        },
                        "faculdade[]" : {
                            required: "Por favor informe sua instituição de ensino"
                        },
                        "ra[]": {
                            required: "Por favor informe seu R.A."
                        },
                        "curso[]": {
                            required:"Por favor informe seu curso"
                        }
                }
            });
        </script>


        {# <script>
            jQuery('#changepass').validate({
                debug: false,
                errorElement: "small",
                errorClass: "form-text text-muted",
                rules: {
                    pass: {
                        required: true,
                        passcheck: true,
                    },
                    checkpass: {
                        equalTo: "#pass",
                    }
                },
                messages: {
                    pass: {
                        required: "Informe sua senha",
                        passcheck: "Sua senha deve conter pelo menos um número",
                    },
                    passcheck: {
                        equalTo: "Os campos não correspondem",
                    }
                }
            });
        </script> #}
