{% extends 'layout/default.twig' %}
{% block title %}
    {{ _title }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

<!--
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 h-100">
                

            <div class="d-block mx-auto h-100">
                 
                 <form id="pass-form" action="{{ path_for('insertpassword') }}" method="POST">
                    
                    <div class="form-group">
                        <input type="text" class="form-control" name="pass[]" placeholder="digite sua senha">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="passcheck[]" placeholder="digite sua senha novamente">
                    </div>

                    <input name="token[]" type="hidden" value="{{ token }}">

                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>

            </div>

                    

            </div>
        </div>
    </div>
-->

      <section class="form">
      <div class="row h-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-5 offset-md-4 my-auto mx-auto">
                    <div class="form-wrapper">
                    <h3 class="form-title">Registre sua senha</h3>
                        <form id="pass-form" action="{{ path_for('insertpassword') }}" method="POST">
                            <div class="form-group">
                                <input type="password" class="form-control" name="pass[]" placeholder="digite sua senha">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="passcheck[]" placeholder="digite sua senha novamente">
                            </div>

                            <input name="token[]" type="hidden" value="{{ token }}">

                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


{% endblock %}

{% block jsBottom %}
    {{ parent() }}
{% endblock %}