{% extends 'layout/default.twig' %}
{% block title %}Erro 404 | {{ _title }}{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}
    <!-- Start Page Header area -->
    <div id="mu-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-header-area">
                        <h1 class="mu-page-header-title">404 page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header area -->

    <!-- Start Breadcrumb -->
    <div id="mu-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb mu-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">404 page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->


    <!-- Start main content -->
    <main>
        <!-- Start 404 Error -->
        <section id="mu-error">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-error-area">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>Oops! Página não encontrada!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End 404 Error  -->

    </main>

    <!-- End main content -->
{% endblock %}
{% block jsBottom %}
    {{ parent() }}
{% endblock %}