<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Manda Jobs - Confirme sua inscrição!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eece12" style="padding: 50px 0px;">
        <tr>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#fff">
                    <tr>
                        <td align="center" style="padding: 40px 30px 0px 30px;">
                            <table>
                                <tr>
                                    <td>
                                        <img src="{{ baseImg() }}logo.png" alt="Manda_Jobs" width="150px" style="display: block;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table style="font-family: 'Open Sans', sans-serif;" border="0" cellpadding="0"
                                cellspacing="0" width="100%">
                                <tr>
                                    <td style="font-size: 18px;">
                                        <h1 style="font-size: 28px;">E aí, {{ nome }}. Tudo bem?</h1>
                                        <p>Recebemos seu cadastro para o concurso e, antes de continuarmos nessa
                                            aventura, você precisa antes confirmar se seu e-mail é verdadeiro.</p>
                                        <p>Não se preocupe, essa ação será feita apenas dessa vez e serve para garantir
                                            seu acesso futuro no site para envio de seus trabalhos</p>
                                        <p>Só clicar no botão abaixo e correr pro abraço!</p>
                                    <td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ base_url() }}{{ path_for('validate') }}?token_validate={{ token | raw }}">
                                            <button style="padding: 15px 35px; background-color:#eece12; border:none; font-size:16px;cursor:pointer!important;">
                                                <b style="color:#fff">CONFIRME SEU EMAIL</b>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                <td>
                                    <p><strong>Boa sorte ;D</strong></p>
                                </td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    <tr align="center">
                        <td style="padding: 30px 150px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr align="center">
                                    <td><a href="http://jsilvapaineis.com.br/"><img src="{{ baseImg() }}jsilva.png" alt="jsilva" /></a></td>
                                    <td><a href="http://jsilvapaineis.com.br/"><img src="{{ baseImg() }}1.png" alt="site" /></a></td>
                                    <td><a href="https://www.facebook.com/jsilvapaineis/"><img src="{{ baseImg() }}2.png" alt="facebook" /></a></td>
                                    <td><a href="https://www.instagram.com/jsilvapaineis/"><img src="{{ baseImg() }}3.png" alt="instagram" /></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>