<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style type="text/css">
            body{
                -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0;height:100% ;width:100% ;background-color:#CCC;
                font-family:Helvetica, Arial, sans-serif;
                font-size: 14px;
            }
            h1,h2,h3,h4,h5,h6{
                margin-top: 0;
                margin-bottom: 5px;
            }
            table{
                border-collapse:collapse!important;
                font-family:Helvetica, Arial, sans-serif;
            }
            table,td{
                mso-table-lspace:0;mso-table-rspace:0
            }
            td{
                -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;

            }
            img{
                -ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none;max-width:150px;width:150px;
            }
            a{
                color: #0c94b6;
                text-decoration: none;
            }
            p{
                margin: 0 5px;
                font-family:Helvetica, Arial, sans-serif;
            }
            #templateBody,#templateContainer,#templateFooter,#templateHeader,#templatePreheader,#bodyTable{
                background-color:#FFF
            }
            #bodyTable{
                width: 600px;
                border: 1px solid #D9D9D9;
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
            }
            #bodyCell{
                padding: 10px 0;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyCellmensagem{
                text-align: center;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyCellmensagem td{
                padding: 0 15px;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyCelltop{
                padding: 10px 0;
                padding-top:50px;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyCellbottom{
                padding-top: 0px;
                padding: 10px 0;
                padding-bottom:50px;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyInfo{
                padding: 0px 20px;
                width: 400px;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyInfo tr td{
                padding: 2px 5px ;
                font-family:Helvetica, Arial, sans-serif;
            }
            #bodyInfo tr td.primary{
                text-align: right;
            }
            .contact{
                line-height:160%;
                padding-bottom:0px;
                text-align:center;
                padding-left:12%;
                padding-right:12%;
            }
            .copyright{
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                margin: 0;
                color: #999;
                font-size: 12px;
                text-align: center;
            }
            #link{
                font-size: 12px;
            }
        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table>
                <tr>
                    <td align="center" valign="top" id="bodyCell" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;height:100% ;margin:0;padding:40px;width:100% ;font-family:Helvetica, Arial, sans-serif;line-height:160%;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" id="bodyTable">
                            <tr>
                                <td align="center" valign="top" id="bodyCelltop" class="top">
                                    <img src="http://www.jales.sp.leg.br/img/logo.png" alt="Câmara de Jales" id="infoart" width="150"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="bodyCell">
                                    <p>Formulário de Contato</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="80%">
                                    <hr class="sectionDivider" style="width:80%;border:0;border-top:1px solid #DDD;">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="bodyCell" class="info">
                                    <table align="center" id="bodyInfo">
                                        <tr>
                                            <td class="primary">Nome:</td>
                                            <td><?= $name; ?></td>
                                        </tr>
                                        <tr>
                                            <td class="primary">E-mail:</td>
                                            <td><?= $email; ?></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="80%">
                                    <hr class="sectionDivider" style="width:80%;border:0;border-top:1px solid #DDD;">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="bodyCell">
                                    <table align="center" id="bodyCellmensagem">
                                        <tr>
                                            <td>
                                                <?= $message; ?>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="bodyCellbottom" class="bottom">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse ;background-color:#FFFFFF;">
                                        <tr>
                                            <td width="80%">
                                                <hr class="sectionDivider" style="width:80%;border:0;border-top:1px solid #DDD;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="contact">
                                                <p style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;color:#999;font-size:12px;">
                                                    Este e-mail foi enviado através do fomulário de pessoa física do acesso a informação.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="copyright">
                                                <p>Câmara Municipal de Jales</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>