<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" style="background-color:#D2D7D3;  font-family: Montserrat, OpenSans, Arial, sans-serif; color:#ffffff; text-decoration:none; margin:0; padding:0; min-width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">

<!-- Start Background -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#D2D7D3">
    <tr>
        <td width="100%" valign="top" align="center">

            <table width="100%" data-module="Notif2.1" data-thumb="thumbnails/Notif2.png" align="center" cellpadding="0" cellspacing="0"
                   border="0" class="wrapper" bgcolor="#373737" data-bgcolor="MainBG_Color5">
                <tbody>
                <tr>
                    <td height="50" style="font-family: OpenSans, Arial, sans-serif; font-size:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td align="center">
                        <!-- Start Container -->
                        <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border-radius:25px"
                               class="container">
                            <tbody>
                            <tr>
                                <td align="center" bgcolor="#c4c4c4" style=" border-top-left-radius:4px; border-top-right-radius:4px; font-size: 35px; line-height: 30px; color: #ffffff; font-weight: 700;"></td>
                            </tr>
                            <tr>
                                <td align="center" class="mobile" style="font-size:12px; line-height:24px;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" data-bgcolor="BlueBoxBG_Color">
                                        <tbody>
                                        <tr>
                                            <td height="40"></td>
                                        </tr>
                                        <tr>
                                            <td height="20" align="center">
                                                <img mc:edit="" editable="" src="http://whatsbox.com.br/cms/img/logo.png">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Container -->
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <!-- Start Container -->
                        <table width="500" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="container">
                            <tbody>
                            <tr>
                                <td align="center" bgcolor="#FFFFFF" style="font-size: 35px; line-height: 30px; color: #ffffff; font-weight: 700;"></td>
                            </tr>
                            <tr>
                                <td height="50"></td>
                            </tr>
                            <tr>
                                <td align="center" class="mobile" style="font-size:12px; line-height:24px;">
                                    <table width="400" cellpadding="0" cellspacing="0" border="0" class="container">
                                        <tbody>
                                        <tr>
                                            <td width="350" align="center" class="mobile" style="font-size:12px; line-height:24px;">
                                                <!-- Start Content -->
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="container">
                                                    <tbody>
                                                    <tr>
                                                        <td width="330" align="center" style="font-family: Montserrat, Arial, sans-serif; font-size: 28px; line-height:40px; letter-spacing:2px; color: #333333; font-weight:400;"
                                                            data-color="H1 Color" data-size="H1 Size" data-min="12"
                                                            data-max="40" mc:edit="">
                                                            <multiline label="content">
                                                                <?=$name_customer;?>
                                                            </multiline>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20" style="font-size:10px; line-height:10px;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20" align="center" style="font-family: Montserrat, Arial, sans-serif; font-size:16px; letter-spacing:1px; line-height:25px; color: #333333; font-weight:400"
                                                            data-color="H4 Color" data-size="H4 Size" data-min="12"
                                                            data-max="30" mc:edit="">
                                                            <multiline label='content'>
                                                                Você tem uma nova mensagem de
                                                                <br>
                                                                <?=$name;?> - <?=$phone;?>
                                                                <br>
                                                                <small><?=$email;?></small>
                                                            </multiline>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20" style="font-size:10px; line-height:10px;"></td>
                                                        <!-- Spacer -->
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="font-family: OpenSans, Arial, sans-serif; font-size: 14px; color: #8D8D8D; line-height:23px; font-weight:400;"
                                                            data-color="H6 Color" data-size="H5 Size" data-min="10"
                                                            data-max="24" mc:edit="">
                                                            <multiline label="content">
                                                                <?=$question;?>
                                                            </multiline>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- End Content -->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50" class="mobile"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Container -->
                    </td>
                </tr>
                <tr>
                    <td height="40"></td>
                </tr>
                <tr>
                    <td align="center">
                        <!-- Start Container -->
                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                            <tbody>
                            <tr>
                                <td align="center" height="20"></td>
                            </tr>
                            <tr>
                                <td align="center" class="mobile" style="font-family: OpenSans, Arial, sans-serif; font-size:12px; line-height:24px;">
                                    <!-- Start Content -->
                                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                                        <tbody>
                                        <tr>
                                            <td align="center" height="20" class="mobile" style="font-family: OpenSans, Arial, sans-serif; font-size: 13px; color: #8D8D8D; line-height:23px; font-weight:400;"
                                                data-color="H7 Color" data-size="H7 Size" data-min="10" data-max="24"
                                                mc:edit="">
                                                <multiline>
                                                    Whatsbox © 2018
                                                </multiline>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Container -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Container -->
                    </td>
                </tr>
                <tr>
                    <td height="40"></td>
                    <!-- Spacer -->
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<!-- End Background -->