<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{{ _title }}{% endblock %}</title>

        {#Metatags#}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ baseImg(true) }}favicon.png"/>

        {#CSS Padrão#}
        <link href='{{ base_url() }}/cms/plugins/datatables/jquery.dataTables.min.css' rel='stylesheet' type='text/css'/>
        <link href='{{ base_url() }}/cms/plugins/datatables/dataTables.bootstrap.css' rel='stylesheet' type='text/css'/>
        <link href='{{ base_url() }}/cms/plugins/morris/morris.css' rel='stylesheet' type='text/css'/>
        <link href='{{ base_url() }}/cms/plugins/sweet-alert2/sweetalert2.css' rel='stylesheet' type='text/css'/>
        <link href="{{ base_url() }}/cms/plugins/summernote/summernote.css" rel="stylesheet" />
        <link href='{{ base_url() }}/cms/plugins/croppie/croppie.css' rel='stylesheet' type='text/css'/>
        <link href="{{ base_url() }}/cms/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href='{{ base_url() }}/cms/plugins/switchery/switchery.min.css' rel='stylesheet' type='text/css'/>
        <link href="{{ base_url() }}/cms/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="{{ base_url() }}/cms/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />



        <link href='{{ baseCss(true) }}bootstrap.min.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}core.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}components.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}icons.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}custom_upload.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}croppie.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}menu.css' rel='stylesheet' type='text/css'/>
        <link href='{{ baseCss(true) }}responsive.css' rel='stylesheet' type='text/css'/>


        <script src='{{ baseJs(true) }}modernizr.min.js'></script>

    {% endblock %}
</head>
<body class="fixed-left widescreen">
<div id="wrapper">
    {% include('blocks/menu.twig') %}
    {% block content %}{% endblock %}
</div>
{% include('blocks/footer.twig') %}
{% block jsBottom %}
    <script>
        var resizefunc = [];
    </script>

    <script src="{{ baseJs(true) }}jquery.min.js"></script>

    <script src="{{ base_url() }}/cms/plugins/moment/moment-with-locales.js"></script>

    <script src="{{ base_url() }}/cms/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="{{ base_url() }}/cms/plugins/sweet-alert2/sweetalert2.js"></script>
    <script src='{{ base_url() }}/cms/plugins/croppie/croppie.js'></script>
    <script src='{{ base_url() }}/cms/plugins/mustache/mustache.js'></script>
    <script src="{{ base_url() }}/cms/plugins/summernote/summernote.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="{{ base_url() }}/cms/plugins/switchery/switchery.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/select2/js/select2.min.js"></script>

    <script src='{{ baseJs(true) }}imagesFunctions.js'></script>
    <script src="{{ baseJs(true) }}bootstrap.min.js"></script>
    <script src="{{ baseJs(true) }}detect.js"></script>
    <script src="{{ baseJs(true) }}fastclick.js"></script>
    <script src="{{ baseJs(true) }}jquery.blockUI.js"></script>
    <script src="{{ baseJs(true) }}waves.js"></script>
    <script src="{{ baseJs(true) }}jquery.slimscroll.js"></script>
    <script src="{{ baseJs(true) }}jquery.scrollTo.min.js"></script>
    <script src="{{ baseJs(true) }}jquery.core.js"></script>
    <script src="{{ baseJs(true) }}jquery.app.js"></script>
    <script src="{{ baseJs(true) }}global.js?v=1.2"></script>

{% endblock %}
<!-- Flash Message -->
{% if flash['msg'][0]|length > 0 %}
    <script>
        window.onload=function(){
            swal(
                '{{ flash["msg"][0].title }}',
                '{{ flash["msg"][0].message }}',
                '{{ flash["msg"][0].type }}'
            );
            {% if flash["msg"][0].type == 'error'  %}
            window.history.back();
            {% endif %}
        }
    </script>
{% endif %}


</body>
</html>


