<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{{ _title }}{% endblock %}</title>

        {#Metatags#}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.png"/>

        {#CSS Padrão#}
        <link href="{{ base_url() }}/cms/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href='{{ base_url() }}/cms/plugins/sweet-alert2/sweetalert2.css' rel='stylesheet' type='text/css' />
        <link href="{{ base_url() }}/cms/css/core.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/cms/css/components.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/cms/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/cms/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/cms/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="{{ base_url() }}/cms/css/responsive.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
<div class="page_loader"></div>
{% block content %}{% endblock %}
{% block jsBottom %}
    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="{{ base_url() }}/cms/js/jquery.min.js"></script>
    <script src="{{ base_url() }}/cms/plugins/sweet-alert2/sweetalert2.js"></script>
    <script src="{{ base_url() }}/cms/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/cms/js/detect.js"></script>
    <script src="{{ base_url() }}/cms/js/fastclick.js"></script>
    <script src="{{ base_url() }}/cms/js/jquery.b lockUI.js"></script>
    <script src="{{ base_url() }}/cms/js/waves.js"></script>
    <script src="{{ base_url() }}/cms/js/jquery.slimscroll.js"></script>
    <script src="{{ base_url() }}/cms/js/jquery.scrollTo.min.js"></script>
    <!-- App js -->
    <script src="{{ base_url() }}/cms/js/jquery.core.js"></script>
    <script src="{{ base_url() }}/cms/js/jquery.app.js"></script>
{% endblock %}
<!-- Flash Message -->
{% if flash['msg'][0]|length > 0 %}
    <script>
        window.onload=function(){
            swal(
                '{{ flash["msg"][0].title }}',
                '{{ flash["msg"][0].message }}',
                '{{ flash["msg"][0].type }}'
            );
        }
    </script>
{% endif %}
</body>
</html>


