{% extends "layout/default.twig" %}
{% block title %}Cadastro de Página | {{ parent() }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Cadastro de Páginas</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">Páginas</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <form action='{{ path_for('admin.pages.save') }}' class='form-horizontal' method="post" enctype="multipart/form-data">
                    {% if entity.id is defined %}
                        <input type="hidden" class="form-control" id="id" name='id' value='{{ entity.id  ?  entity.id  : '' }}'>
                    {% endif %}
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>Informações</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Informações básicas da Página
                                </p>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="status">Status:</label>
                                            <div class="col-md-10">
                                                <select name='status' id='status' class='form-control' required>
                                                    <option></option>
                                                    <option value='1' {{ entity.status=='1' ?  'selected'  : '' }}>Publicado</option>
                                                    <option value='0' {{ entity.status=='0' ?  'selected'  : '' }}>Não publicado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="type">Tipo de Conteúdo:</label>
                                            <div class="col-md-10">
                                                <select name='type' id='type' class='form-control' required>
                                                    <option></option>
                                                    <option value='content' {{ entity.type=='content' ?  'selected'  : '' }}>Estático</option>
                                                    <option value='multple' {{ entity.type=='multple' ?  'selected'  : '' }}>Dinâmico</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="title">Título:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="title" name='title' placeholder="Título da Página" value='{{ entity.title ?  entity.title  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="url">URL Amigável:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="url" name='url' placeholder="URL" value='{{ entity.url ?  entity.url  : '' }}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="content">Conteúdo:</label>
                                            <div class="col-md-10">
                                                <textarea class='form-control summernote_complete' id='content' name='content'>{{ entity.content ?  entity.content  : '' }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Imagem 1</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Selecione a imagem 1.
                                </p>
                                <div class="alert alert-info"><strong>Aviso!</strong> A pré-visualização da imagem funciona somente nos navegadores IE10+, FF3.6+, Chrome6.0+ e Opera11.1+.<br>Em navegores antigos, somente o nome do arquivo será exibido.
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Imagem</label>
                                        <input type="file" name='image1' class="filestyle" data-buttonname="btn-primary" onchange='loadPreview(this,1)' accept="image/x-png,image/gif,image/jpeg"/>
                                        <small><strong>Obs.: Selecione outro arquivo para substituir a imagem que esta carregada</strong></small>
                                    </div>
                                    <div class='row'>
                                        <img id='output_1' class='img-responsive' src='{{ entity.background ?  base_url() ~ '/img/pages/'~entity.id~'/'~entity.background  : '' }}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Imagem 2</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Selecione a imagem 2.
                                </p>
                                <div class="alert alert-info"><strong>Aviso!</strong> A pré-visualização da imagem funciona somente nos navegadores IE10+, FF3.6+, Chrome6.0+ e Opera11.1+.<br>Em navegores antigos, somente o nome do arquivo será exibido.
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Imagem</label>
                                        <input type="file" name='image2' class="filestyle" data-buttonname="btn-primary" onchange='loadPreview(this,2)' accept="image/*"/>
                                        <small><strong>Obs.: Selecione outro arquivo para substituir a imagem que esta carregada</strong></small>
                                    </div>
                                    <div class='row'>
                                        <img id='output_2' class='img-responsive' src='{{ entity.background2 ?  base_url() ~ '/img/pages/'~entity.id~'/'~entity.background2  : '' }}'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>SEO</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Informações para os sistemas de busca.
                                </p>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="seo_title">SEO Título:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="seo_title" name='seo_title' value='{{ entity.seo_title ?  entity.seo_title  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="seo_description">SEO Descrição:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="seo_description" name='seo_description' value='{{ entity.seo_description ?  entity.seo_description  : '' }}'>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="seo_keywords">SEO Palavras Chaves:</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="seo_keywords" name='seo_keywords' data-role="tagsinput" value='{{ entity.seo_keywords ?  entity.seo_keywords  : '' }}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class='row'>
                                    <div class="col-sm-12 col-xs-12">
                                        <button type='submit' class='btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5'>Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsBottom %}
    {{ parent() }}
    <script src='{{ base_url() }}/cms/js/pages.js'></script>
{% endblock %}
