{% extends "layout/default.twig" %}
{% block title %}{{ _page }} | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Páginas </h4>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">Admin</a>
                            </li>
                            <li class='active'>
                                <a href="#">Páginas</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <a href='{{ path_for('admin.pages.form') }}' class="btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5"><i class='mdi mdi-file-document'></i> Nova Página</a>
                        <br><br>
                        <table id="datatable-responsive"
                               class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Título</th>
                                <th>URL</th>
                                <th>Status</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in collection %}
                                <tr>
                                    <td>{{ row.title }}</td>
                                    <td>{{ row.url }}</td>
                                    <td>{{ row.status==1?'Publicado':'Não Publicado' }}</td>
                                    <td>
                                        <a href='{{ path_for('admin.pages.form.edit',{'url': row.url}) }}'>
                                            <i class='mdi mdi-18px mdi-pen'></i>
                                        </a>
                                        <a href="javascript:confirmDelete('{{ path_for('admin.pages.delete',{'id':row.id}) }}')" class="on-default remove-row">
                                            <i class="mdi mdi-18px mdi-delete text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block jsBottom %}
            {{ parent() }}
{% endblock %}