{% extends "layout/default.twig" %}
{% block title %}Cadastro de {{ _page }} | {{ parent() }}{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="{{ base_url() }}/cms/plugins/summernote/summernote.css" rel="stylesheet"/>
    <link href='{{ base_url() }}/cms/css/custom_upload.css' rel='stylesheet' type='text/css'/>
    <link href='{{ base_url() }}/cms/plugins/croppie/croppie.css' rel='stylesheet' type='text/css'/>
    <link href='{{ base_url() }}/cms/css/croppie.css' rel='stylesheet' type='text/css'/>
{% endblock %}
{% block content %}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Cadastro de {{ _page }}</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">{{ _page }}</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-sm-12">
                        <form method='post' action='{{ path_for('admin.categories.save') }}' class='form-horizontal' enctype='multipart/form-data'>
                            <div class="card-box table-responsive">
                                <h4 class="m-t-0 header-title"><b>Informações da {{ _page_single }}</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Formulário de cadastro de {{ _page }}.
                                </p>
                                {% if entity.id is defined %}
                                    <input type="hidden" class="form-control" id="id" name='id' value='{{ entity.id  ?  entity.id  : '' }}'>
                                {% endif %}
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Nome da {{ _page_single }}:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="name" name='name' placeholder="Nome da {{ _page_single }}" value='{{ entity.name ?  entity.name  : '' }}' required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="url">URL Amigável:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="url" name='url' placeholder="Url amigável" value='{{ entity.url ?  entity.url  : '' }}' required>
                                    </div>
                                </div>
                            </div>

                            <div class="card-box table-responsive">
                                <div class='col-sm-6'>
                                    <button type='submit' class='btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5'>Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsBottom %}
    {{ parent() }}
    <script src='{{ base_url() }}/cms/plugins/croppie/croppie.js'></script>
    <script src='{{ base_url() }}/cms/plugins/mustache/mustache.js'></script>
    <script src='{{ base_url() }}/cms/js/imagesFunctions.js'></script>
    <script src='{{ base_url() }}/cms/js/category.js'></script>
{% endblock %}