{% extends "layout/default.twig" %}
{% block title %}{{ _page }} | {{ parent() }}{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">{{ _page }} </h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a href="#">Admin</a>
                                </li>
                                <li class='active'>
                                    <a href="#">{{ _page }}</a>
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <a href='{{ path_for('admin.categories.form') }}' class="btn btn-primary btn-bordered waves-effect w-md waves-light m-b-5"><i class='mdi mdi-folder'></i> Nova {{ _page_single }}</a>
                            <br><br>
                            <table id="datatable-responsive"
                                   class="table table-striped table-bordered dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>URL</th>
                                    <th>Opções</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in collection %}
                                    <tr>
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.url }}</td>
                                        <td>
                                            <a href='{{ path_for('admin.categories.form.edit',{'url': row.url}) }}'>
                                                <i class='mdi mdi-18px mdi-pen'></i>
                                            </a>
                                            <a href="javascript:confirmDelete('{{ path_for('admin.categories.delete',{'id':row.id}) }}')" class="on-default remove-row">
                                                <i class="mdi mdi-18px mdi-delete text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block jsBottom %}
        {{ parent() }}
    {% endblock %}